@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    <p>Sie haben sich erfolgreich aus der Applikation ausgeloggt.</p>
</header>

<script>
    (() => {
        document.getElementById('logoutForm').submit();
    })()
</script>