@page "/charts"
@* @using LigaManagerManagement.Web.Pages;
@using System.Globalization
@using Radzen;
@using Radzen.Blazor;
@using Radzen.Blazor.Rendering;

@inherits ChartsListBase
@attribute [Authorize]

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .columns-2 {
        width: 100%;
        display: flex;
        margin: 1px;
    }
</style>

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h2><b>Charts</b></h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div Class="rz-p-0 rz-p-md-12">
                <RadzenChart>
                    <RadzenColumnSeries Data="@revenue1" CategoryProperty="Quarter" ValueProperty="Revenue" />
                    <RadzenColumnSeries Data="@revenue2" CategoryProperty="Quarter" ValueProperty="Revenue" />
                </RadzenChart>
            </div>
        </div>
    </div>
 

    <div class="form-group row">
        <div class="col-sm-12">
            <div class="col-1 offset-11">
                <button onclick="topFunction()" id="btnTop" class="btn btn-primary" title="Nach oben" style='font-size:14px; display:@DisplayElements;'><span class="glyphicon glyphicon-arrow-up"></span></button>
            </div>
        </div>
    </div>
</div>

@code {
    class DataItem
    {
        public string Quarter { get; set; }
        public double Revenue { get; set; }
    }

    DataItem[] revenue1 = new DataItem[]
    {
      new DataItem { Quarter = "Q1", Revenue = 234000 },
      new DataItem { Quarter = "Q2", Revenue = 284000 },
      new DataItem { Quarter = "Q3", Revenue = 274000 },
      new DataItem { Quarter = "Q4", Revenue = 294000 }
    };

    DataItem[] revenue2 = new DataItem[]
    {
      new DataItem { Quarter = "Q1", Revenue = 324000 },
      new DataItem { Quarter = "Q2", Revenue = 224000 },
      new DataItem { Quarter = "Q3", Revenue = 444000 },
      new DataItem { Quarter = "Q4", Revenue = 564000 }
    };
}
<script>

    let mybutton = document.getElementById("btnTop");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () { scrollFunction() };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script> *@

  
}