@inherits DisplaySpieltagBase


<style type="text/css">

    @@media screen and (max-width: 767px) {

        .priority-1 {
            display: block;
        }

        .priority-2 {
            display: none;
        }
    }

    .list-group-item {
        position: relative;
        display: block;
        padding: 0.5rem 0.5rem !important;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
    }

    .TableElement {
        border: 0px solid #fff;
        background-color: transparent;
    }

    .table td, .table th {
        padding: 0.05rem !important;
        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }

    h4 {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 0.5px;
    }

        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #000;
            padding: 0px;
            margin: -5.5px;
        }

    /* table {
                border-collapse: collapse;
            }

                table.sectioned tbody {
                    border: 1px solid darkgray;
                    border-collapse: separate;
                    border-spacing: 4px;
                    box-shadow: 3px 3px grey;
                } */
</style>



@if (Spieltag == null)
{
    <div class="spinner"></div>
}
else
{   
    <div style="width:100%;">
        <table class="table">
            <thead class="bg-blue">
            
            </thead>

            <tbody style="border-width:1px;">
                <tr>
                    <td><InputText readonly id="txtVerein1" class="TableElement priority-1" style="max-height:38px; max-width:180px;pointer-events:none;" tabindex="1" @bind-Value=Spieltag.Verein1 /></td>
                    <td><InputNumber readonly id="txtTore1" class="TableElement priority-1" style="max-height:38px; max-width:40px; text-align:right;pointer-events:none;" tabindex="2" @bind-Value=Spieltag.Tore1_Nr /></td>
                    <td><InputNumber readonly id="txtTore2" class="TableElement priority-1" style="max-height:38px; max-width:40px; text-align:right;pointer-events:none;" tabindex="3" @bind-Value=Spieltag.Tore2_Nr /></td>
                    <td><InputText readonly id="txtVerein2" class="TableElement priority-1" style="max-height:38px; max-width:180px;pointer-events:none;" tabindex="4" @bind-Value=Spieltag.Verein2 /></td>
                    <td><InputText readonly id="txtOrt" class="TableElement priority-2" style="max-height:38px; max-width:180px;pointer-events:none;" tabindex="5" @bind-Value=Spieltag.Ort /></td>
                    <td><InputDate readonly id="txtDatum" class="TableElement priority-2" style="max-height:38px; max-width:400px;pointer-events:none;" tabindex="6" @bind-Value=Spieltag.Datum /></td>

                    <td> <NavLink href="@($"editspieltag/{Spieltag.SpieltagId}")" style="width: 100px;" class="btn-primary btn">Bearbeiten</NavLink></td>
                    
                    <button class="btn btn-danger" type="button" @onclick="Delete_Click">
                        Löschen
                    </button>
              
                </tr>
            </tbody>
        </table>
    </div>

}
