@page "/createliga"
@page "/editliga/{Id}"
@using LigaManagement.Web.Services.Contracts;

@inherits LigaManagerManagement.Web.Pages.LigenListBase
@inject ILigaService _Ligaservice
@inject NavigationManager _navigationManager
@inject NotificationService NotificationService

<div class="container">
    <div class="form-group row">
        <div class="col-sm-12">         
            <RadzenCard class="m-0 mb-3 rz-shadow-3">
                <div class="d-flex flex-row">
                    <div class="card-body">
                        <h2>@Liganame @Titel Liga</h2>
                    </div>
                </div>
            </RadzenCard>
        </div>
    </div>    

    <div class="col-12">
        <EditForm Model="Liga" OnValidSubmit="UpsertLiga">
            <div class="form-group row">
                <RadzenLabel Text="Liganame" class="col-sm-3" Component="txtLiganame">Liganame</RadzenLabel>
                <InputText required id="txtTore1" @bind-Value="Liga.Liganame" class="form-control col-sm-9"></InputText>
                <ValidationMessage For="(()=>Liga.Liganame)"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Liganummer" class="col-sm-3" Component="txtSaisonen">Liganummer</RadzenLabel>
                <InputNumber required id="txtSaisonen" @bind-Value="Liga.Liganummer" class="form-control col-sm-9"></InputNumber>
                <ValidationMessage For="()=>Liga.Liganummer"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Verband" class="col-sm-3" Component="txtVerband">Verband</RadzenLabel>
                <InputText required id="txtTore1" @bind-Value="Liga.Verband" class="form-control col-sm-9"></InputText>
                <ValidationMessage For="(()=>Liga.Verband)"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Erstaustragung" class="col-sm-3" Component="txtErstaustragung">Erstaustragung</RadzenLabel>
                <InputDate required id="txtErstaustragung" @bind-Value="Liga.Erstaustragung" class="form-control col-sm-9"></InputDate>
                <ValidationMessage For="()=>Liga.Erstaustragung"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Saisonen" class="col-sm-3" Component="txtSaisonen">Saisonen</RadzenLabel>
                <InputNumber required id="txtSaisonen" @bind-Value="Liga.Saisonen" class="form-control col-sm-9"></InputNumber>
                <ValidationMessage For="()=>Liga.Saisonen"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Rekordspieler" class="col-sm-3" Component="txtRekordspieler">Rekordspieler</RadzenLabel>
                <InputText required id="txtRekordspieler" @bind-Value="Liga.Rekordspieler" class="form-control col-sm-9"></InputText>
                <ValidationMessage For="()=>Liga.Rekordspieler"></ValidationMessage>
            </div>
            <div class="form-group row">
                <RadzenLabel Text="Spiele Rekordspieler" class="col-sm-3" Component="txtSaisonen">Spiele Rekordspieler</RadzenLabel>
                <InputNumber required id="txtSpiele_Rekordspieler" @bind-Value="Liga.Spiele_Rekordspieler" class="form-control col-sm-9"></InputNumber>
                <ValidationMessage For="()=>Liga.Spiele_Rekordspieler"></ValidationMessage>
            </div>
            <div class="form-group">
                <RadzenLabel Text="Label" class="col-sm-3 pl-0" Component="chkAktiv">Aktiv</RadzenLabel>
                <RadzenCheckBox @bind-Value="Liga.Aktiv" Style="border-width:0px; width:40px;max-width:40px;" class="form-control col-sm-9" Name="chkAktiv" />
                <RadzenColumn Size="8" Offset="4" class="rz-white rz-p-5">
                </RadzenColumn>
                <ValidationMessage For="()=>Liga.Aktiv"></ValidationMessage>
            </div>
            <br />
            <div class="form-group py-2">
                <RadzenButton title="Speichert Liga ab" style="margin-left:5px;" id="btnSpeichern" Click="UpsertLiga" class="btn btn-primary" Text="Speichern">
                    <span class="glyphicon glyphicon-save"></span>Speichern
                </RadzenButton>
                
                <RadzenButton title="Zurück zu Ligen" style="margin-left:5px;" Click="Zurueck_Click" id="btnSpeichern" class="btn btn-secodary" Text="Zurück">

                </RadzenButton>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    private Liga Liga { get; set; } = new Liga();
    private string Titel { get; set; }
    public bool IsLoading { get; set; }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (Id == "0" || Id is null)
            {               
                Titel = "Neuanlage";
                Id = "0";
                IsLoading = false;
            }
            else
            {                
                Titel = "Bearbeiten";
                await LoadLiga();
            }
        }
    }

    private async Task LoadLiga()
    {
        IsLoading = true;
        StateHasChanged();
        Liga = await _Ligaservice.GetLiga(Convert.ToInt32(Id));
        IsLoading = false;
        StateHasChanged();
    }
    private async Task UpsertLiga()
    {

        if ((Liga.Liganame == null))
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Bearbeiten Liga", Detail = "Liganame nicht angegeben.Speichern nicht möglich." });
            return;
        }

        if ((Liga.Liganummer == 0))
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Bearbeiten Liga", Detail = "Liganummer nicht angegeben.Speichern nicht möglich." });
            return;
        }

        if ((Liga.Verband == null))
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Bearbeiten Liga", Detail = "Verband nicht angegeben.Speichern nicht möglich." });
            return;
        }

        if ((Liga.Erstaustragung.ToString() == "01.01.0001 00:00:00"))
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Bearbeiten Liga", Detail = "Erstaustragung nicht angegeben.Speichern nicht möglich." });
            return;
        }


        if (Id == "0")
        {           
            Liga.Aktiv = true;
            await _Ligaservice.CreateLiga(Liga);
        }
        else
        {
            //update
            await _Ligaservice.UpdateLiga(Liga);
        }
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Bearbeiten Liga", Detail = "Abgespeichert" });
        // _navigationManager.NavigateTo("ligen");
    }

    private void Zurueck_Click()
    {
        _navigationManager.NavigateTo("ligen");
    }
}
