@page "/rssfeed"
<h3>RSS</h3>

<?xml version="1.0" encoding="utf-8"?> 

This XML file does not appear to have any style information associated with it. The document tree is shown below.
<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
<channel>
<title>Bundesliga: Alle Fußball-News, Highlights und Spiele</title>
<link>https://www.sportschau.de/fussball/bundesliga>
<description>Die aktuellen Beiträge der Seite https://www.sportschau.de/fussball/bundesliga</description>
<language>de</language>
<copyright>WDR | sportschau.de</copyright>
<lastBuildDate>Thu, 18 Apr 2024 16:55:34 +0200</lastBuildDate>
<pubDate>Thu, 18 Apr 2024 16:55:34 +0200</pubDate>
<docs>http://blogs.law.harvard.edu/tech/rss</docs>
<ttl>90</ttl>
<dc:publisher>sportschau.de</dc:publisher>
<dc:language>de</dc:language>
<dc:rights>WDR | sportschau.de</dc:rights>
<dc:date>2024-04-17T20:42:36Z</dc:date>
<dc:source>sportschau.de</dc:source>
<item>
<title>DFL stoppt Auktion der TV-Rechte</title>
<link>https://www.sportschau.de/fussball/bundesliga/dfl-stoppt-auktion-der-tv-rechte,dfl-stoppt-auktion-bundesliga-100.html>
<description>Die Deutsche Fußball Liga hat den Verkauf der TV-Rechte gestoppt. Das bestätigte die Liga.</description>
<pubDate>Wed, 17 Apr 2024 22:36:18 +0200</pubDate>
<guid>63a46312-af13-417d-ab2f-4b84e0991bae</guid>
<dc:date>2024-04-17T20:36:18Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/dfl-stoppt-auktion-der-tv-rechte,dfl-stoppt-auktion-bundesliga-100.html"><img src="https://images.sportschau.de/image/b5568009-7f83-4ac1-83c5-9882e30afcad/AAABjluxvyw/AAABjcWen7M/16x9-1280/mdr-logo-der-dfl-vor-der-zentrale-in-der-innenstadt-von-frankfurt-am-main-100.jpg" alt="Logo der DFL vor der Zentrale in der Innenstadt von Frankfurt am Main. | imago images/Ralph Peters" /></a> <br/> <br/>Die Deutsche Fußball Liga hat den Verkauf der TV-Rechte gestoppt. Das bestätigte die Liga.[<a href="https://www.sportschau.de/fussball/bundesliga/dfl-stoppt-auktion-der-tv-rechte,dfl-stoppt-auktion-bundesliga-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Rennen um Europapokal in der Bundesliga - Viele Niederlagen, aber auf dem Weg nach Europa</title>
<link>https://www.sportschau.de/fussball/bundesliga/europapokal-viele-niederlagen-aber-auf-dem-weg-nach-europa,bundesliga-qualifikation-fuer-europa-schneckenrennen-100.html>
<description>Vor fünf Jahren verpasste Hoffenheim mit neun Saisonniederlagen das internationale Geschäft deutlich. Jetzt hat die TSG schon 13 Mal verloren, Freiburg zwölfmal - aber beide haben im Rennen nach Europa noch beste Chancen.</description>
<pubDate>Wed, 17 Apr 2024 11:42:32 +0200</pubDate>
<guid>aa3175dc-1944-4e81-beb1-9acb96b7d84e</guid>
<dc:date>2024-04-17T09:42:32Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/europapokal-viele-niederlagen-aber-auf-dem-weg-nach-europa,bundesliga-qualifikation-fuer-europa-schneckenrennen-100.html"><img src="https://images.sportschau.de/image/6a476cf7-a2d7-48a4-a2a4-d1af79e3ff6e/AAABjuefAoI/AAABjcWen7M/16x9-1280/jess-thorup-augsburg-100.jpg" alt="Jess Thorup | ddp/Sven Simon" /></a> <br/> <br/>Vor fünf Jahren verpasste Hoffenheim mit neun Saisonniederlagen das internationale Geschäft deutlich. Jetzt hat die TSG schon 13 Mal verloren, Freiburg zwölfmal - aber beide haben im Rennen nach Europa noch beste Chancen.[<a href="https://www.sportschau.de/fussball/bundesliga/europapokal-viele-niederlagen-aber-auf-dem-weg-nach-europa,bundesliga-qualifikation-fuer-europa-schneckenrennen-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Nach Leverkusen-Eklat: Werder suspendiert Naby Keita bis zum Saisonende</title>
<link>https://www.sportschau.de/regional/rb/rb-rassistische-beleidigungen-gegen-naby-keita-nach-werder-suspendierung-100.html>
<description>Weil er sich beim Auswärtsspiel gegen Leverkusen geweigert hat als Ersatzspieler auf der Bank zu sitzen, hat Werder Bremen Naby Keita bis zum Saisonende suspendiert. Zudem muss der 28-Jährige eine laut Werder "erhebliche Geldstrafe" bezahlen.</description>
<pubDate>Tue, 16 Apr 2024 20:55:00 +0200</pubDate>
<guid>sportschau_fm-story-id-4f38cc8a-93d5-4c5f-b7a8-85e020f2aade-nimex</guid>
<dc:date>2024-04-16T18:55:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/regional/rb/rb-rassistische-beleidigungen-gegen-naby-keita-nach-werder-suspendierung-100.html"><img src="https://images.sportschau.de/image/09711a1d-61ea-4fb8-896a-1d7c8bae80c8/AAABjusRBDk/AAABjcWen7M/16x9-1280/rb-werder-spieler-naby-keita-schlendert-zum-training-100.jpg" alt="Werder-Spieler Naby Keita schlendert zum Training. | Gumzmedia | Andreas Gumz" /></a> <br/> <br/>Weil er sich beim Auswärtsspiel gegen Leverkusen geweigert hat als Ersatzspieler auf der Bank zu sitzen, hat Werder Bremen Naby Keita bis zum Saisonende suspendiert. Zudem muss der 28-Jährige eine laut Werder "erhebliche Geldstrafe" bezahlen. [<a href="https://www.sportschau.de/regional/rb/rb-rassistische-beleidigungen-gegen-naby-keita-nach-werder-suspendierung-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Zwei Sechser holen die Meisterschaft für Leverkusen</title>
<link>https://www.sportschau.de/regional/wdr/wdr-leverkusens-schluessel-zum-erfolg-zwei-6er-holen-die-meisterschaft-100.html>
<description>Was steckt hinter dem Erfolg von Bayer 04 Leverkusen? Geschäftsführer Simon Rolfes hat mehrere Schlüsselmomente auf dem Weg zum historischen Triumph benannt.</description>
<pubDate>Tue, 16 Apr 2024 10:11:00 +0200</pubDate>
<guid>sportschau_fm-story-WDR-8c0875c4-64a3-4db6-8b29-d6668129c9f9</guid>
<dc:date>2024-04-16T08:11:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/regional/wdr/wdr-leverkusens-schluessel-zum-erfolg-zwei-6er-holen-die-meisterschaft-100.html"><img src="https://images.sportschau.de/image/6263d9c9-b33d-4df3-b48c-cab1d427b6a9/AAABjuckeJY/AAABjcWen7M/16x9-1280/wdr-simon-rolfes-102.jpg" alt="Simon Rolfes | IMAGO/O.Behrendt" /></a> <br/> <br/>Was steckt hinter dem Erfolg von Bayer 04 Leverkusen? Geschäftsführer Simon Rolfes hat mehrere Schlüsselmomente auf dem Weg zum historischen Triumph benannt.[<a href="https://www.sportschau.de/regional/wdr/wdr-leverkusens-schluessel-zum-erfolg-zwei-6er-holen-die-meisterschaft-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Das Ende von "Vizekusen" - Leverkusens berauschende Party</title>
<link>https://www.sportschau.de/fussball/bundesliga/reportage-bayer-leverkusen-werder-bremen-100.html>
<description>Bayer 04 Leverkusen ist deutscher Meister. Die Party ging schon während des entscheidenden Spiels los - und war danach berauschend. Auch weil ein vermeintlicher Fluch endlich abgelegt wurde.</description>
<pubDate>Mon, 15 Apr 2024 00:01:20 +0200</pubDate>
<guid>c427af11-fed2-453a-9f64-a79b71e88172</guid>
<dc:date>2024-04-14T22:01:20Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/reportage-bayer-leverkusen-werder-bremen-100.html"><img src="https://images.sportschau.de/image/9a9c2d22-38ae-437c-9973-86b13c24d56c/AAABjuHDSKI/AAABjcWen7M/16x9-1280/fussball-bundesliga-leverkusen-128.jpg" alt="Jubel bei der Leverkusener Mannschaft | dpa" /></a> <br/> <br/>Bayer 04 Leverkusen ist deutscher Meister. Die Party ging schon während des entscheidenden Spiels los - und war danach berauschend. Auch weil ein vermeintlicher Fluch endlich abgelegt wurde.[<a href="https://www.sportschau.de/fussball/bundesliga/reportage-bayer-leverkusen-werder-bremen-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>"Vizekusen" war mal - wie Leverkusen zu "Meisterkusen" wurde</title>
<link>https://www.sportschau.de/fussball/bundesliga/bayer-leverkusen-meisterschaft-titelgewinn-100.html>
<description>Bayer Leverkusen war so oft Vizemeister, dass der Klub irgendwann nur "Vizekusen" genannt wurde. Die Zeiten sind vorbei. Über einen Klub, der nicht nur den FC Bayern überrascht hat.</description>
<pubDate>Sun, 14 Apr 2024 19:24:29 +0200</pubDate>
<guid>d3239a07-43c5-407f-9cec-07aab8f228f9</guid>
<dc:date>2024-04-14T17:24:29Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bayer-leverkusen-meisterschaft-titelgewinn-100.html"><img src="https://images.sportschau.de/image/c03183e3-91d1-4cde-8879-174c81ba9a0e/AAABjt1aLiY/AAABjcWen7M/16x9-1280/leverkusen-jubel-230.jpg" alt="Leverkusens Boniface jubelt über sein Tor zum 1:0 gegen Werder Bremen. | Getty Images" /></a> <br/> <br/>Bayer Leverkusen war so oft Vizemeister, dass der Klub irgendwann nur "Vizekusen" genannt wurde. Die Zeiten sind vorbei. Über einen Klub, der nicht nur den FC Bayern überrascht hat. [<a href="https://www.sportschau.de/fussball/bundesliga/bayer-leverkusen-meisterschaft-titelgewinn-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Erster Meistertitel macht Fans und ganze Stadt glücklich</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-leverkusen-fans-feiern-meisterschaft-100.html>
<description>Nach vier Vize-Titeln feiert Leverkusen euphorische die erste Meisterschaft von Bayer 04. Schon vor dem Spiel gegen Werder gab es einen großen Empfang für die Werkself.</description>
<pubDate>Sun, 14 Apr 2024 23:44:38 +0200</pubDate>
<guid>30b927a0-f57b-46ba-bd34-d20bfd247d2f</guid>
<dc:date>2024-04-14T21:44:38Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-leverkusen-fans-feiern-meisterschaft-100.html"><img src="https://images.sportschau.de/image/5da9a786-39df-4f72-8591-2e6dedb27987/AAABjt1uZlU/AAABjcWen7M/16x9-1280/leverkusen-meisterschale-100.jpg" alt="Die Leverkusen-Fans jubeln mit einer Papp-Meisterschale. | dpa/Rolf Vennenbernd" /></a> <br/> <br/>Nach vier Vize-Titeln feiert Leverkusen euphorische die erste Meisterschaft von Bayer 04. Schon vor dem Spiel gegen Werder gab es einen großen Empfang für die Werkself.[<a href="https://www.sportschau.de/fussball/bundesliga/video-leverkusen-fans-feiern-meisterschaft-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Früher Meister: Leverkusens Gegner hoffen auf Spannungsabfall</title>
<link>https://www.sportschau.de/fussball/bundesliga/meister-und-dann-100.html>
<description>Bayer Leverkusen knüpft an eine Tradition des FC Bayern an und wird schon früh Meister. Die kommenden Gegner dürften auf einen Spannungsabfall hoffen. Wie sah das bei den Münchnern in den vergangenen Jahren aus?</description>
<pubDate>Mon, 15 Apr 2024 10:26:55 +0200</pubDate>
<guid>520b8f48-0a49-45fc-82da-f16dd538f762</guid>
<dc:date>2024-04-15T08:26:55Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/meister-und-dann-100.html"><img src="https://images.sportschau.de/image/47b39ae0-9451-4bed-b343-3619b753fa73/AAABjuDH9Xg/AAABjcWen7M/16x9-1280/bayer-jubel-112.jpg" alt="v.l. Jonas Hofmann, Jonathan Tah jubeln mit Mitspielern | REUTERS/Kai Pfaffenbach" /></a> <br/> <br/>Bayer Leverkusen knüpft an eine Tradition des FC Bayern an und wird schon früh Meister. Die kommenden Gegner dürften auf einen Spannungsabfall hoffen. Wie sah das bei den Münchnern in den vergangenen Jahren aus? [<a href="https://www.sportschau.de/fussball/bundesliga/meister-und-dann-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Bayer Leverkusen: News, Ergebnisse & Spielplan von Bayer Leverkusen</title>
<link>https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen-klub-index-sp-100.html>
<description>Bayer Leverkusen ist zum ersten Mal in der Geschichte Deutscher Meister. Hier gibt es alle Texte, Videos und Audios rund um den Titelgewinn.</description>
<pubDate>Mon, 15 Apr 2024 12:24:26 +0200</pubDate>
<guid>sportschau_a3463b7d-d72d-4796-a1b7-2b4319d93c81</guid>
<dc:date>2024-04-15T10:24:26Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/f1c12acd-dc44-4633-a0f8-282f4b40a794/AAABjuFhUbU/AAABjcWen7M/16x9-1280/wirtz-144.jpg" alt="Florian Wirtz | IMAGO/Moritz Mueller" /></a> <br/> <br/>Bayer Leverkusen ist zum ersten Mal in der Geschichte Deutscher Meister. Hier gibt es alle Texte, Videos und Audios rund um den Titelgewinn.[<a href="https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Fußball Podcast: Bayer Leverkusen ist deutscher Meister / Bayer Meister-Party / Mainzer Aufholjagd / Stuttgart will Vizemeisterschaft</title>
<link>https://www.sportschau.de/podcasts/sportschau-fussball-podcast/audio-14-04-bayer-schale-100.html>
<description>Bayer Leverkusen ist deutscher Fußball-Meister! Die Werkself holt den ersten von drei möglichen Titeln und sorgt für einen historischen und emotionalen Abend bei Fans und Verein. Wie aus Vizekusen Meisterkusen wurde: https://www.sportschau.de/fussball/bundesliga/bayer-leverkusen-meisterschaft-titelgewinn-100.html Die Meister-Party im Video: https://www.sportschau.de/fussball/bundesliga/reportage-bayer-leverkusen-werder-bremen-100.html Alles zur ersten Liga findet ihr hier: https://www.sportschau.de/fussball/bundesliga Alle Infos zur zweiten Liga gibt es hier: https://www.sportschau.de/fussball/bundesliga2 Jeden Donnerstag findet ihr das Bundesliga-Update hier auch als Videopodcast: https://www.youtube.com/playlist?list=PLvMKvgz66TDSpJLzDpIdJmkqudPJwymVB</description>
<pubDate>Mon, 15 Apr 2024 10:53:50 +0200</pubDate>
<guid>ARD_20240414_06F484F1</guid>
<dc:date>2024-04-15T08:53:50Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/podcasts/sportschau-fussball-podcast/audio-14-04-bayer-schale-100.html"><img src="https://images.sportschau.de/image/091ccaa7-1d7f-42ee-b924-381e1ada10b7/AAABjt4q9qA/AAABjcWen7M/16x9-1280/bundesliga-update-144.jpg" alt="Bundesliga Update | Sportschau" /></a> <br/> <br/>Bayer Leverkusen ist deutscher Fußball-Meister! Die Werkself holt den ersten von drei möglichen Titeln und sorgt für einen historischen und emotionalen Abend bei Fans und Verein.[<a href="https://www.sportschau.de/podcasts/sportschau-fussball-podcast/audio-14-04-bayer-schale-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Die Sportschau-Elf des 29. Bundesliga-Spieltags</title>
<link>https://www.sportschau.de/fussball/bundesliga/elf-des-spieltags-29-102.html>
<description>Entscheidende Spieler in der entscheidenden Phase der Saison gehören in die Elf des Spieltags - und natürlich haben es auch frisch gebackene deutsche Meister in die Auswahl geschafft.</description>
<pubDate>Mon, 15 Apr 2024 07:14:28 +0200</pubDate>
<guid>48aabd6f-8d1d-434d-a3a7-d0e7ac77dbd5</guid>
<dc:date>2024-04-15T05:14:28Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/elf-des-spieltags-29-102.html"><img src="https://images.sportschau.de/image/1f858779-fc78-44a2-a1ee-7e9ecd919742/AAABjt_taFc/AAABjcWen7M/16x9-1280/teaserbild-elf-des-spieltags-29-102.jpg" alt="Collage mit den Fußballprofis Burkardt, Wirtz und Xhaka | imago" /></a> <br/> <br/>Entscheidende Spieler in der entscheidenden Phase der Saison gehören in die Elf des Spieltags - und natürlich haben es auch frisch gebackene deutsche Meister in die Auswahl geschafft.[<a href="https://www.sportschau.de/fussball/bundesliga/elf-des-spieltags-29-102.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Sieg in Darmstadt: Freiburg darf weiter von Europa träumen</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-sv-darmstadt-sc-freiburg-100.html>
<description>Der SC Freiburg kann weiter auf die Qualifikation für den Europapokal hoffen. Beim harmlosen SV Darmstadt 98 feierten die Freiburger in der Bundesliga einen knappen Auswärtssieg.</description>
<pubDate>Mon, 15 Apr 2024 00:01:00 +0200</pubDate>
<guid>a78c9eff-b478-436c-9cd4-75453218be75</guid>
<dc:date>2024-04-14T22:01:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-sv-darmstadt-sc-freiburg-100.html"><img src="https://images.sportschau.de/image/c89a21f6-7589-4332-9c52-9cc82e78031e/AAABjt0xYiY/AAABjcWen7M/16x9-1280/fussball-bundesliga-darmstadt-freiburg-zweikampf-100.jpg" alt="Darmstadts Matthias Bader duelliert sich mit Freiburgs Christian Günter | IMAGO/Jan Huebner" /></a> <br/> <br/>Der SC Freiburg kann weiter auf die Qualifikation für den Europapokal hoffen. Beim harmlosen SV Darmstadt 98 feierten die Freiburger in der Bundesliga einen knappen Auswärtssieg.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-sv-darmstadt-sc-freiburg-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Stuttgarts Guirassy und Undav servieren auch Frankfurt ab</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfb-stuttgart-eintracht-frankfurt-104.html>
<description>Dieses Sturm-Duo ist reif für die Champions League: Serhou Guirassy und Deniz Undav haben den Grundstein zum nächsten Bundesliga-Sieg des VfB Stuttgart gegen Eintracht Frankfurt gelegt.</description>
<pubDate>Mon, 15 Apr 2024 00:01:00 +0200</pubDate>
<guid>e01407dd-7b04-4f42-8a69-84670c49c43a</guid>
<dc:date>2024-04-14T22:01:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfb-stuttgart-eintracht-frankfurt-104.html"><img src="https://images.sportschau.de/image/19ba3f2e-d097-45f3-9ca9-766f9ef92321/AAABjtiUYlo/AAABjcWen7M/16x9-1280/undav-guirassy-jubel-100.jpg" alt="Deniz Undav und Serhou Guirassy jubeln gemeinsam | dpa" /></a> <br/> <br/>Dieses Sturm-Duo ist reif für die Champions League: Serhou Guirassy und Deniz Undav haben den Grundstein zum nächsten Bundesliga-Sieg des VfB Stuttgart gegen Eintracht Frankfurt gelegt.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfb-stuttgart-eintracht-frankfurt-104.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Traumtor von Guerreiro erlöst FC Bayern gegen 1. FC Köln</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-bayern-muenchen-fc-koeln-100.html>
<description>Der FC Bayern München hat das Bundesliga-Spiel zwischen den Champions-League-Partien gegen den FC Arsenal erfolgreich bestritten. Gegen den 1. FC Köln gab es dank Raphael Guerreiro einen Sieg.</description>
<pubDate>Mon, 15 Apr 2024 00:01:02 +0200</pubDate>
<guid>6dabc8ea-ceb7-4b14-9e20-530404376578</guid>
<dc:date>2024-04-14T22:01:02Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-bayern-muenchen-fc-koeln-100.html"><img src="https://images.sportschau.de/image/c94289d4-161e-4427-85d5-c38f7f60670d/AAABjtgE1k4/AAABjcWen7M/16x9-1280/bundesliga-bayern-guerreiro-100.jpg" alt="Raphael Guerreiro jueblt mit Alphonso Davies über seinen Treffer | REUTERS" /></a> <br/> <br/>Der FC Bayern München hat das Bundesliga-Spiel zwischen den Champions-League-Partien gegen den FC Arsenal erfolgreich bestritten. Gegen den 1. FC Köln gab es dank Raphael Guerreiro einen Sieg.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-bayern-muenchen-fc-koeln-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Mainz 05 trumpft gegen Hoffenheim auf</title>
<link>https://www.sportschau.de/regional/swr/swr-furiose-mainzer-drehen-das-spiel-gegen-hoffenheim-102.html>
<description>Mainz 05 hat gegen die TSG Hoffenheim einen immens wichtigen Sieg im Kampf um den Klassenerhalt errungen. Für Hoffenheim war es ein herber Dämpfer im Rennen um den Europapokal.</description>
<pubDate>Mon, 15 Apr 2024 00:01:02 +0200</pubDate>
<guid>sportschau_fm-story-swr-b664590d-8fe5-31de-ba5c-ae7adb8bd57b</guid>
<dc:date>2024-04-14T22:01:02Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/regional/swr/swr-furiose-mainzer-drehen-das-spiel-gegen-hoffenheim-102.html"><img src="https://images.sportschau.de/image/f65a6f97-cf58-4731-9214-de311623975a/AAABjtlTH1M/AAABjcWen7M/16x9-1280/swr-mainz-05-konnte-einen-41-sieg-gegen-die-tsg-hoffenheim-feiern-100.jpg" alt="Mainz 05 konnte einen 4:1-Sieg gegen die TSG Hoffenheim feiern. | IMAGO, IMAGO / Beautiful Sports" /></a> <br/> <br/>Mainz 05 hat gegen die TSG Hoffenheim einen immens wichtigen Sieg im Kampf um den Klassenerhalt errungen. Für Hoffenheim war es ein herber Dämpfer im Rennen um den Europapokal.[<a href="https://www.sportschau.de/regional/swr/swr-furiose-mainzer-drehen-das-spiel-gegen-hoffenheim-102.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Sabitzer schießt Borussia Dortmund zum Sieg gegen Gladbach</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-borussia-moenchengladbach-borussia-dortmund-104.html>
<description>Marcel Sabitzer hat Borussia Dortmund in der Bundesliga mit einem Doppelschlag zum Sieg in Mönchengladbach geschossen. Ein dritter Treffer des Österreichers wurde zu Recht nicht anerkannt.</description>
<pubDate>Mon, 15 Apr 2024 00:01:00 +0200</pubDate>
<guid>d3c58001-f1f4-4362-9aec-faf74c114be5</guid>
<dc:date>2024-04-14T22:01:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-borussia-moenchengladbach-borussia-dortmund-104.html"><img src="https://images.sportschau.de/image/28d19e94-8e60-4419-beaa-e7246942921e/AAABjtgYo70/AAABjcWen7M/16x9-1280/bvb-jubel-138.jpg" alt="BVB Spieler jubeln | Ina FASSBENDER / AFP" /></a> <br/> <br/>Marcel Sabitzer hat Borussia Dortmund in der Bundesliga mit einem Doppelschlag zum Sieg in Mönchengladbach geschossen. Ein dritter Treffer des Österreichers wurde zu Recht nicht anerkannt.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-borussia-moenchengladbach-borussia-dortmund-104.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Leipzig vergrößert Wolfsburgs Sorgen</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-rb-leipzig-vfl-wolfsburg-104.html>
<description>Mit einem Heimsieg gegen Wolfsburg hält RB Leipzig Platz vier in der Fußball-Bundesliga. Am anderen Tabellenende sieht es für den VfL dagegen immer finsterer aus.</description>
<pubDate>Mon, 15 Apr 2024 00:01:01 +0200</pubDate>
<guid>13510b63-e828-464d-afbf-9b1ec3f58beb</guid>
<dc:date>2024-04-14T22:01:01Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-rb-leipzig-vfl-wolfsburg-104.html"><img src="https://images.sportschau.de/image/ff9a3efb-9485-4ee0-990b-5649870b9b79/AAABjtfJZ_0/AAABjcWen7M/16x9-1280/dani-olmo-110.jpg" alt="Fußballprofi Dani Olmo von RB Leipzig jubelt im Bundesligaspiel gegen den VfL Wolfsburg | Getty/Franklin" /></a> <br/> <br/>Mit einem Heimsieg gegen Wolfsburg hält RB Leipzig Platz vier in der Fußball-Bundesliga. Am anderen Tabellenende sieht es für den VfL dagegen immer finsterer aus.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-rb-leipzig-vfl-wolfsburg-104.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Bochums Schlotterbeck trifft hinten und vorne</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfl-bochum-fc-heidenheim-102.html>
<description>Beim Debüt von Interimstrainer Heiko Butscher erkämpft sich der VfL Bochum gegen den 1. FC Heidenheim einen Punkt. Die Sorgen im Bundesliga-Tabellenkeller werden allerdings nicht kleiner.</description>
<pubDate>Mon, 15 Apr 2024 00:01:03 +0200</pubDate>
<guid>f0244d34-069b-4644-871d-885dff78d039</guid>
<dc:date>2024-04-14T22:01:03Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfl-bochum-fc-heidenheim-102.html"><img src="https://images.sportschau.de/image/c0f6ad54-6c23-40d4-a3c6-1820c77ad1e8/AAABjtgHKWM/AAABjcWen7M/16x9-1280/schlotterbeck-114.jpg" alt="Heidenheims Kevin Sessa (r.) im Duell mit Bochums Keven Schlotterbeck | IMAGO/nordphoto GmbH / Rauch" /></a> <br/> <br/>Beim Debüt von Interimstrainer Heiko Butscher erkämpft sich der VfL Bochum gegen den 1. FC Heidenheim einen Punkt. Die Sorgen im Bundesliga-Tabellenkeller werden allerdings nicht kleiner.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-vfl-bochum-fc-heidenheim-102.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Bundesliga: Union Berlin schenkt dem FC Augsburg den Sieg</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-augsburg-union-berlin-100.html>
<description>Der 1. FC Union Berlin hat sich nach einem Blackout sein Bundesliga-Gastspiel beim FC Augsburg versaut. Beide Teams spielten lange auf Augenhöhe - doch dann passierte ein kapitaler Fehlpass.</description>
<pubDate>Mon, 15 Apr 2024 00:01:03 +0200</pubDate>
<guid>2efcc379-acf3-4664-9c2a-527a28b6d2f3</guid>
<dc:date>2024-04-14T22:01:03Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-augsburg-union-berlin-100.html"><img src="https://images.sportschau.de/image/f7764a8d-f862-4e13-b190-b72fc0a08fd2/AAABjtPxao0/AAABjcWen7M/16x9-1280/augsburg-jubel-124.jpg" alt="Torjubel von Augsburgs Phillip Tietz und Ermedin Demirovic. | IMAGO / Langer" /></a> <br/> <br/>Der 1. FC Union Berlin hat sich nach einem Blackout sein Bundesliga-Gastspiel beim FC Augsburg versaut. Beide Teams spielten lange auf Augenhöhe - doch dann passierte ein kapitaler Fehlpass.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesliga-spielbericht-fc-augsburg-union-berlin-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Leverkusen schießt sich mit Traumtoren zum Titel</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leverkusen-bremen-100.html>
<description>Leverkusen krönt sich nach einem furiosen 5:0-Sieg gegen Werder Bremen am 29. Spieltag der Bundesliga vorzeitig zum deutschen Meister.</description>
<pubDate>Mon, 15 Apr 2024 00:00:00 +0200</pubDate>
<guid>6b1a271e-4cb4-4063-ab4f-a9398c94aa13</guid>
<dc:date>2024-04-14T22:00:00Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leverkusen-bremen-100.html"><img src="https://images.sportschau.de/image/7bcd4c15-68fe-4833-856f-9e6f4a381216/AAABjt3rN9o/AAABjcWen7M/16x9-1280/jubel-alonso-100.jpg" alt="Jubel von Xabi Alonso | REUTERS" /></a> <br/> <br/>Leverkusen krönt sich nach einem furiosen 5:0-Sieg gegen Werder Bremen am 29. Spieltag der Bundesliga vorzeitig zum deutschen Meister. [<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leverkusen-bremen-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfB Stuttgart zerlegt überforderte Frankfurter </title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-stuttgart-frankfurt-100.html>
<description>Stuttgarts Stürmer Deniz Undav und Serhou Guirassy haben auch gegen Eintracht Frankfurt brilliert und bescheren dem VfB wichtige Punkte im Rennen um einen Champions-League-Platz.</description>
<pubDate>Mon, 15 Apr 2024 00:00:03 +0200</pubDate>
<guid>51c15483-c94d-4cd0-ad6a-63b85d0ffb38</guid>
<dc:date>2024-04-14T22:00:03Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-stuttgart-frankfurt-100.html"><img src="https://images.sportschau.de/image/4858560f-ee41-425b-8314-88f89355651e/AAABjtjsdLk/AAABjcWen7M/16x9-1280/jubel-guirassy-undav-100.jpg" alt="Serhou Guirassy und Denniz Undav feiern das Tor zum 2:0 | IMAGO / Michael Weber" /></a> <br/> <br/>Stuttgarts Stürmer Deniz Undav und Serhou Guirassy haben auch gegen Eintracht Frankfurt brilliert und bescheren dem VfB wichtige Punkte im Rennen um einen Champions-League-Platz.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-stuttgart-frankfurt-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Traumtor von Guerreiro lässt Bayern jubeln </title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bayern-koeln-102.html>
<description>Ein Traumtor von Raphael Guerreiro und ein defensives Missgeschick von Luca Waldschmidt besiegeln den Sieg des FC Bayern München gegen den 1. FC Köln.</description>
<pubDate>Mon, 15 Apr 2024 00:00:03 +0200</pubDate>
<guid>eb7be5af-2bf4-4bdd-a870-f19831abe220</guid>
<dc:date>2024-04-14T22:00:03Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bayern-koeln-102.html"><img src="https://images.sportschau.de/image/354bacff-9005-42a7-9277-30b6ffc7b8b5/AAABjtf-XQ0/AAABjcWen7M/16x9-1280/jubel-bayern-156.jpg" alt="Raphael Guerreiro (l.) bejubelt seinen Treffer mit Alphonso Davies | Getty Images" /></a> <br/> <br/>Ein Traumtor von Raphael Guerreiro und ein defensives Missgeschick von Luca Waldschmidt besiegeln den Sieg des FC Bayern München gegen den 1. FC Köln.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bayern-koeln-102.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Dortmund siegt trotz Unterzahl in Gladbach</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-dortmund-gladbach-100.html>
<description>Borussia Dortmund feiert trotz Unterzahl einen knappen Auswärtssieg bei Borussia Mönchengladbach und bleibt mittendrin im Kampf um die Champions-League-Plätze.</description>
<pubDate>Mon, 15 Apr 2024 00:00:02 +0200</pubDate>
<guid>4d41f90c-379c-4d93-8eb2-9432f00f838e</guid>
<dc:date>2024-04-14T22:00:02Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-dortmund-gladbach-100.html"><img src="https://images.sportschau.de/image/e3c3e356-87b7-4f64-8111-dd9dd845757b/AAABjtgfzo4/AAABjcWen7M/16x9-1280/gelbe-karte-adeyemi-100.jpg" alt="Adeyemi bekommt die rote Karte | AP" /></a> <br/> <br/>Borussia Dortmund feiert trotz Unterzahl einen knappen Auswärtssieg bei Borussia Mönchengladbach und bleibt mittendrin im Kampf um die Champions-League-Plätze.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-dortmund-gladbach-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Leipzig souverän gegen abstiegsbedrohte Wolfsburger</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leipzig-wolfsburg-100.html>
<description>Leipzig schlägt den VfL Wolfsburg souverän und bleibt auf Kurs Königsklasse. Die "Wölfe" sind dagegen nur noch zwei Punkte vom Relegationsplatz entfernt.</description>
<pubDate>Mon, 15 Apr 2024 00:00:04 +0200</pubDate>
<guid>06bd050f-1a2f-4065-9e3e-0239d205bdf9</guid>
<dc:date>2024-04-14T22:00:04Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leipzig-wolfsburg-100.html"><img src="https://images.sportschau.de/image/f7d56971-21ff-4a50-9a99-0dbcf0b636bd/AAABjtgXsCQ/AAABjcWen7M/16x9-1280/jubel-leipzig-128.jpg" alt="Jubel der Leipziger Spieler | dpa" /></a> <br/> <br/>Leipzig schlägt den VfL Wolfsburg souverän und bleibt auf Kurs Königsklasse. Die "Wölfe" sind dagegen nur noch zwei Punkte vom Relegationsplatz entfernt. [<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-leipzig-wolfsburg-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Effizientes Freiburg entführt drei Punkte aus Darmstadt</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-darmstadt-freiburg-100.html>
<description>Der SC Freiburg bleibt dran im Kampf um Europa: Beim SV Darmstadt reicht den Breisgauern eine Chance, um drei Punkte mitzunehmen.</description>
<pubDate>Mon, 15 Apr 2024 00:00:03 +0200</pubDate>
<guid>80579be3-14b6-497c-a715-016a8f93b95d</guid>
<dc:date>2024-04-14T22:00:03Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-darmstadt-freiburg-100.html"><img src="https://images.sportschau.de/image/e6f8ff81-8801-4896-888c-c5073f6d6b58/AAABjt05TxU/AAABjcWen7M/16x9-1280/spieltag29-netcast-104.jpg" alt="Doan und Gregoritsch jubeln | imago" /></a> <br/> <br/>Der SC Freiburg bleibt dran im Kampf um Europa: Beim SV Darmstadt reicht den Breisgauern eine Chance, um drei Punkte mitzunehmen.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-darmstadt-freiburg-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Unions Blackout bereitet Augsburg den Sieg</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-union-augsburg-100.html>
<description>Nach einem unglücklichen Fehler von Union Berlin gewinnt der FC Augsburg vor heimischem Publikum und darf weiter von Europa träumen.</description>
<pubDate>Mon, 15 Apr 2024 00:00:01 +0200</pubDate>
<guid>71711d30-d025-4e25-ba28-e4dd7dc813b5</guid>
<dc:date>2024-04-14T22:00:01Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-union-augsburg-100.html"><img src="https://images.sportschau.de/image/558052ec-3b97-4531-88d9-4cd1f83d1c7f/AAABjtfwXCk/AAABjcWen7M/16x9-1280/diogo-leite-100.jpg" alt="Diogo Leite im Spiel gegen Augsburg | IMAGO/kolbert-press" /></a> <br/> <br/>Nach einem unglücklichen Fehler von Union Berlin gewinnt der FC Augsburg vor heimischem Publikum und darf weiter von Europa träumen.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-union-augsburg-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Schlotterbeck lässt Bochum leiden und jubeln </title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bochum-heidenheim-100.html>
<description>Der VfL Bochum erlebt beim Remis gegen den 1. FC Heidenheim eine Achterbahn der Gefühle. Der Mann im Mittelpunkt: Verteidiger Keven Schlotterbeck.</description>
<pubDate>Mon, 15 Apr 2024 00:00:02 +0200</pubDate>
<guid>07bd4d28-0c26-4115-ae14-9b1f36790d89</guid>
<dc:date>2024-04-14T22:00:02Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bochum-heidenheim-100.html"><img src="https://images.sportschau.de/image/7224ce87-da2e-4a4f-9757-08a36f9fde73/AAABjtgdNx4/AAABjcWen7M/16x9-1280/keven-schlotterbeck-112.jpg" alt="Bochum gegen Heidenheim in der Bundesliga | IMAGO/Nordphoto" /></a> <br/> <br/>Der VfL Bochum erlebt beim Remis gegen den 1. FC Heidenheim eine Achterbahn der Gefühle. Der Mann im Mittelpunkt: Verteidiger Keven Schlotterbeck.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-bochum-heidenheim-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Mainz schießt Hoffenheim ab und schöpft Hoffnung</title>
<link>https://www.sportschau.de/fussball/bundesliga/video-bundesliga-mainz-hoffenheim-102.html>
<description>Im Abstiegskampf ist Mainz ein wichtiger Sieg gegen die TSG Hoffenheim gelungen. Nach Rückstand dreht der FSV auf und gewinnt deutlich.</description>
<pubDate>Mon, 15 Apr 2024 00:00:05 +0200</pubDate>
<guid>3120b427-076d-4c08-af08-317d95f5390f</guid>
<dc:date>2024-04-14T22:00:05Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-mainz-hoffenheim-102.html"><img src="https://images.sportschau.de/image/517e54a2-2311-4152-8367-c987c163350b/AAABjtgM34o/AAABjcWen7M/16x9-1280/jubel-mainz-116.jpg" alt="Der Mainzer Phillip Mwene jubelt nach seinem Treffer zum 2.1 | dpa" /></a> <br/> <br/>Im Abstiegskampf ist Mainz ein wichtiger Sieg gegen die TSG Hoffenheim gelungen. Nach Rückstand dreht der FSV auf und gewinnt deutlich.[<a href="https://www.sportschau.de/fussball/bundesliga/video-bundesliga-mainz-hoffenheim-102.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Fußball-Bundesliga: Das Restprogramm aller 18 Vereine</title>
<link>https://www.sportschau.de/fussball/bundesliga/das-restprogramm-aller-18-vereine,bundesliga-restprogramm-uebersicht-100.html>
<description>Wer trifft in der Fußball-Bundesliga im Endspurt der Saison 2023/24 wann auf wen? Ein Überlick über das Restprogramm aller 18 Klubs.</description>
<pubDate>Sun, 14 Apr 2024 19:43:15 +0200</pubDate>
<guid>43e5f9d9-c092-47da-b061-d9fb59e35959</guid>
<dc:date>2024-04-14T17:43:15Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/das-restprogramm-aller-18-vereine,bundesliga-restprogramm-uebersicht-100.html"><img src="https://images.sportschau.de/image/31319314-d4fd-45a3-9d5f-c4a49f3e67fc/AAABjtibUnk/AAABjcWen7M/16x9-1280/fussball-bundesliga-sane-102.jpg" alt="Sane im Zweikampf | IMAGO" /></a> <br/> <br/>Wer trifft in der Fußball-Bundesliga im Endspurt der Saison 2023/24 wann auf wen? Ein Überlick über das Restprogramm aller 18 Klubs. [<a href="https://www.sportschau.de/fussball/bundesliga/das-restprogramm-aller-18-vereine,bundesliga-restprogramm-uebersicht-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Kölns Trainer Schultz - "Haben es in der eigenen Hand haben"</title>
<link>https://www.sportschau.de/fussball/bundesliga/koelns-schultz-bin-ueberzeugt-dass-wir-es-in-der-eigenen-hand-haben,video-bundesliga-spieltag30-koeln-schultz-100.html>
<description>Kölns Cheftrainer Timo Schultz gibt sich trotz Tabellenplatz 17 optimistisch angesichts der Heimaufgabe gegen Darmstadt 98. Seine Mannschaft stehe vor einem von vielen "Endspielen".</description>
<pubDate>Thu, 18 Apr 2024 16:55:34 +0200</pubDate>
<guid>d58b4a98-b0fc-4ae2-91f5-ca01c5d3538f</guid>
<dc:date>2024-04-18T14:55:34Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/koelns-schultz-bin-ueberzeugt-dass-wir-es-in-der-eigenen-hand-haben,video-bundesliga-spieltag30-koeln-schultz-100.html"><img src="https://images.sportschau.de/image/44183125-695a-46bb-b637-3546f113a7c3/AAABjvGWUXw/AAABjcWen7M/16x9-1280/spieltag30-pk-bilder-100.jpg" alt="Timo Schultz | wdr" /></a> <br/> <br/>Kölns Cheftrainer Timo Schultz gibt sich trotz Tabellenplatz 17 optimistisch angesichts der Heimaufgabe gegen Darmstadt 98. Seine Mannschaft stehe vor einem von vielen "Endspielen".[<a href="https://www.sportschau.de/fussball/bundesliga/koelns-schultz-bin-ueberzeugt-dass-wir-es-in-der-eigenen-hand-haben,video-bundesliga-spieltag30-koeln-schultz-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Thorup - "Dann können wir befreit aufspielen"</title>
<link>https://www.sportschau.de/fussball/bundesliga/thorup-dann-koennen-wir-befreit-aufspielen,video-bundesliga-spieltag30-augsburg-thorup-100.html>
<description>Augsburgs Chefcoach Jesse Thorup möchte mit einem Sieg gegen Frankfurt den Klassenerhalt eintüten - dann könne seine Mannschaft in den verbleibenden Ligaspielen befreit aufspielen.</description>
<pubDate>Thu, 18 Apr 2024 16:47:57 +0200</pubDate>
<guid>9eee3381-9217-4602-9f60-a38f92012437</guid>
<dc:date>2024-04-18T14:47:57Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/thorup-dann-koennen-wir-befreit-aufspielen,video-bundesliga-spieltag30-augsburg-thorup-100.html"><img src="https://images.sportschau.de/image/06cabcd8-1367-474f-bac3-e610a8b7ec99/AAABjvGpUjw/AAABjcWen7M/16x9-1280/spieltag30-pk-bilder-102.jpg" alt="Jesse Thorup | wdr" /></a> <br/> <br/>Augsburgs Chefcoach Jesse Thorup möchte mit einem Sieg gegen Frankfurt den Klassenerhalt eintüten - dann könne seine Mannschaft in den verbleibenden Ligaspielen befreit aufspielen.[<a href="https://www.sportschau.de/fussball/bundesliga/thorup-dann-koennen-wir-befreit-aufspielen,video-bundesliga-spieltag30-augsburg-thorup-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Die Saison 2022/23 in Bundesliga und 2. Bundesliga bei der Sportschau</title>
<link>https://www.sportschau.de/fussball/sportschau-angebot-bundesliga-zweite-bundesliga-100.html>
<description>Über die Bundesliga und die 2. Bundesliga berichtet die Sportschau auch in der neuen Saison umfangreich - vor allem digital und live. Ein Überblick</description>
<pubDate>Wed, 10 Aug 2022 11:28:49 +0200</pubDate>
<guid>sportschau_1ec46122-04ec-4938-8812-9b563ddd9ac0</guid>
<dc:date>2022-08-10T09:28:49Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/sportschau-angebot-bundesliga-zweite-bundesliga-100.html"><img src="https://images.sportschau.de/image/bc439051-a30f-4ece-821b-2c9a872771f3/AAABgpiXgAw/AAABjcWen7M/16x9-1280/sportschau-logo-108.jpg" alt="ARD Sportschau Schriftzug | imago images/DeFodi" /></a> <br/> <br/>Über die Bundesliga und die 2. Bundesliga berichtet die Sportschau auch in der neuen Saison umfangreich - vor allem digital und live. Ein Überblick[<a href="https://www.sportschau.de/fussball/sportschau-angebot-bundesliga-zweite-bundesliga-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Sportschau Live Radio-Reportage: Bundesliga und 2. Bundesliga live und kostenlos - mit der ARD Bundesligakonferenz</title>
<link>https://www.sportschau.de/fussball/how-to-audio-netcast-100.html>
<description>Alle Spiele aus Bundesliga, 2. Bundesliga, DFB-Pokal und Champions League können Sie bei der Sportschau in kompletter Länge hören. Im Auto geht das jetzt noch einfacher.</description>
<pubDate>Wed, 10 Jan 2024 11:59:48 +0100</pubDate>
<guid>sportschau_a16dde55-d458-43b4-b68f-9f9da6d40685</guid>
<dc:date>2024-01-10T10:59:48Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/how-to-audio-netcast-100.html"><img src="https://images.sportschau.de/image/d13fb074-8cda-4aff-a382-fadba63723f3/AAABiYvJS9Q/AAABjcWen7M/16x9-1280/buli-audio-netcast-teaser-102.jpg" alt="Bundesliga & 2. Bundesliga - Alle Spiele live hören | picture alliance / Teresa Kroeger/RHR-FOTO, IMAGO/eu-images/Norbert Schmidt" /></a> <br/> <br/>Alle Spiele aus Bundesliga, 2. Bundesliga, DFB-Pokal und Champions League können Sie bei der Sportschau in kompletter Länge hören. Im Auto geht das jetzt noch einfacher.[<a href="https://www.sportschau.de/fussball/how-to-audio-netcast-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Alle Audiostreams der Fußball-Bundesliga</title>
<link>https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html>
<description>Bundesliga live aus den Stadien: Bei der Sportschau hören Sie jedes Einzelspiel und die ARD Bundesligakonferenz in voller Länge.</description>
<pubDate>Fri, 18 Aug 2023 16:30:26 +0200</pubDate>
<guid>812d2587-cfbc-4a9d-9033-5b2f644d0602</guid>
<dc:date>2023-08-18T14:30:26Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html"><img src="https://images.sportschau.de/image/14367dff-c9b4-4237-8421-6a9c0e01d61e/AAABiqiIE80/AAABjcWen7M/16x9-1280/buli-audio-netcast-teaser-100.jpg" alt="Bundesliga - Alle Spiele live hören | picture alliance/Guido Kirchner, picture alliance/dpa/Revierfoto, picture alliance/SVEN SIMON" /></a> <br/> <br/>Bundesliga live aus den Stadien: Bei der Sportschau hören Sie jedes Einzelspiel und die ARD Bundesligakonferenz in voller Länge.[<a href="https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Nachrichten zu allen Vereinen</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html>
<description>Aktuelle Informationen zu allen Vereinen.</description>
<pubDate>Tue, 31 May 2022 16:29:11 +0200</pubDate>
<guid>sportschau_3b8b5610-46a0-4894-a48c-c9ce58e1fa9e</guid>
<dc:date>2022-05-31T14:29:11Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html"><img src="https://images.sportschau.de/image/13f1d0de-c684-4f98-a172-2892236d8a15/AAABgQKNTyY/AAABjcWen7M/16x9-1280/bulilogos-sp-100.jpg" alt="Logos der Bundesliga-Vereine | imago/Geisser" /></a> <br/> <br/>Aktuelle Informationen zu allen Vereinen.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>FC Bayern München: News, Ergebnisse & Spielplan von Bayern München</title>
<link>https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Bayern München ➤ Alle Infos zu Spielen & Mannschaft von Bayern München.</description>
<pubDate>Mon, 05 Feb 2024 10:58:22 +0100</pubDate>
<guid>sportschau_1823908a-bb90-43c5-87e8-8b8238119be4</guid>
<dc:date>2024-02-05T09:58:22Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/9d894fe0-e5ab-4272-a2af-66bb6f11b813/AAABgQKK93c/AAABjcWen7M/16x9-1280/bayernmuenchen-sp-104.jpg" alt="FC Bayern München | picture alliance / sampics / Stefan Matzke" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Bayern München ➤ Alle Infos zu Spielen &amp; Mannschaft von Bayern München.[<a href="https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>RB Leipzig: News, Ergebnisse & Spielplan von RB Leipzig</title>
<link>https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu RB Leipzig ➤ Alle Infos zu Spielen & Mannschaft von RB Leipzig.</description>
<pubDate>Mon, 05 Feb 2024 10:58:50 +0100</pubDate>
<guid>sportschau_281f5b09-56f4-4040-8138-d691e5adc092</guid>
<dc:date>2024-02-05T09:58:50Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6752c71a-a2d4-454c-a158-a7d21390d0cf/AAABgQMqfsw/AAABjcWen7M/16x9-1280/rbleipzig-sp-104.jpg" alt="RB Leipzig | Roger Petzsche via www.imago-images.de" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu RB Leipzig ➤ Alle Infos zu Spielen &amp; Mannschaft von RB Leipzig.[<a href="https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Borussia Dortmund: News, Ergebnisse & Spielplan des BVB</title>
<link>https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Dortmund ➤ Alle Infos zu Spielen & Mannschaft vom BVB.</description>
<pubDate>Mon, 05 Feb 2024 10:58:36 +0100</pubDate>
<guid>sportschau_04889dfd-c4ea-4a97-8404-3e25ab86b02f</guid>
<dc:date>2024-02-05T09:58:36Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/b36a446f-be75-45eb-a08b-8930a872d4da/AAABgQKMehA/AAABjcWen7M/16x9-1280/borussiadortmund-sp-108.jpg" alt="Borussia Dortmund | imago/Picture Point LE" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Dortmund ➤ Alle Infos zu Spielen &amp; Mannschaft vom BVB.[<a href="https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfL Wolfsburg: News, Ergebnisse & Spielplan vom VfL Wolfsburg</title>
<link>https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Wolfsburg ➤ Alle Infos zu Spielen & Mannschaft vom VfL Wolfsburg.</description>
<pubDate>Mon, 05 Feb 2024 11:00:04 +0100</pubDate>
<guid>sportschau_46e67a3f-9b7f-4b2e-aca3-7c674dfad597</guid>
<dc:date>2024-02-05T10:00:04Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/cf9ca4b0-1ec2-432a-83c7-1febff0d0711/AAABgQNd0gA/AAABjcWen7M/16x9-1280/vflwolfsburg-sp-100.jpg" alt="VfL Wolfsburg | imago/Sebastian Priebe" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Wolfsburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfL Wolfsburg.[<a href="https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Eintracht Frankfurt: News, Ergebnisse & Spielplan von Eintracht Frankfurt</title>
<link>https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Eintracht Frankfurt ➤ Alle Infos zu Spielen & Mannschaft von Eintracht Frankfurt.</description>
<pubDate>Mon, 05 Feb 2024 10:59:50 +0100</pubDate>
<guid>sportschau_c6307698-8bb0-44a8-9ec7-49c9b2ee08ee</guid>
<dc:date>2024-02-05T09:59:50Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6d39512a-3566-4d0c-9215-cf18d403288f/AAABgQLA9y8/AAABjcWen7M/16x9-1280/eintrachtfrankfurt-sp-100.jpg" alt="Eintracht Frankfurt | REUTERS/Leon Kuegeler" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Eintracht Frankfurt ➤ Alle Infos zu Spielen &amp; Mannschaft von Eintracht Frankfurt.[<a href="https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FC Union Berlin: News, Ergebnisse & Spielplan von Union Berlin</title>
<link>https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Union Berlin ➤ Alle Infos zu Spielen & Mannschaft von Union Berlin.</description>
<pubDate>Mon, 05 Feb 2024 10:59:06 +0100</pubDate>
<guid>sportschau_f3842dee-1a3f-4e73-b2b0-5ce18b1d7249</guid>
<dc:date>2024-02-05T09:59:06Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/42f24f66-7413-42bd-af8d-eb3742753afb/AAABgQNcjgM/AAABjcWen7M/16x9-1280/unionberlin-sp-100.jpg" alt="Union Berlin | dpa/Soeren Stache" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Union Berlin ➤ Alle Infos zu Spielen &amp; Mannschaft von Union Berlin.[<a href="https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Borussia Mönchengladbach: News, Ergebnisse & Spielplan von Mönchengladbach</title>
<link>https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Mönchengladbach ➤ Alle Infos zu Spielen & Mannschaft von Borussia Mönchengladbach.</description>
<pubDate>Mon, 05 Feb 2024 11:00:37 +0100</pubDate>
<guid>sportschau_930a7cfc-8e49-4a93-84ef-e4ad64dd2299</guid>
<dc:date>2024-02-05T10:00:37Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/4112112e-f05a-448d-bbb3-8ad288df2da9/AAABgQKMgbY/AAABjcWen7M/16x9-1280/borussiamoenchengladbach-sp-100.jpg" alt="Borussia Mönchengladbach | imago images/Werner Otto" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Mönchengladbach ➤ Alle Infos zu Spielen &amp; Mannschaft von Borussia Mönchengladbach.[<a href="https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfB Stuttgart: News, Ergebnisse & Spielplan vom VfB Stuttgart</title>
<link>https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfB Stuttgart ➤ Alle Infos zu Spielen & Mannschaft vom VfB Stuttgart.</description>
<pubDate>Mon, 05 Feb 2024 11:02:17 +0100</pubDate>
<guid>sportschau_06c71b59-9c86-4d92-9ee1-94d320650be5</guid>
<dc:date>2024-02-05T10:02:17Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/120a0c1e-0e64-4cf6-8548-15cd4b945f60/AAABgQNddas/AAABjcWen7M/16x9-1280/vfbstuttgart-sp-100.jpg" alt="VfB Stuttgart | imago/Michael Weber" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfB Stuttgart ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfB Stuttgart.[<a href="https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>SC Freiburg: News, Ergebnisse & Spielplan des SC Freiburg</title>
<link>https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum SC Freiburg ➤ Alle Infos zu Spielen & Mannschaft vom SC Freiburg.</description>
<pubDate>Mon, 05 Feb 2024 10:59:20 +0100</pubDate>
<guid>sportschau_39a35e0e-ddd4-4a29-949b-f8e24c1b092a</guid>
<dc:date>2024-02-05T09:59:20Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/95a7f74f-20ca-4870-a9f2-ce2ec4ae446f/AAABgQMtEVA/AAABjcWen7M/16x9-1280/scfreiburg-sp-104.jpg" alt="SC Freiburg | WDR/Patrick Seeger" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum SC Freiburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom SC Freiburg.[<a href="https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>TSG 1899 Hoffenheim: News, Ergebnisse & Spielplan von 1899 Hoffenheim</title>
<link>https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zur TSG 1899 Hoffenheim ➤ Alle Infos zu Spielen & Mannschaft von 1899 Hoffenheim.</description>
<pubDate>Mon, 05 Feb 2024 11:01:08 +0100</pubDate>
<guid>sportschau_0e61bcc1-b7b8-447e-a391-a1373a56385e</guid>
<dc:date>2024-02-05T10:01:08Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6191c14e-07f4-4ec8-b35e-e565acd4f349/AAABgQNbogM/AAABjcWen7M/16x9-1280/tsghoffenheim-sp-100.jpg" alt="TSG Hoffenheim | imago sportfotodienst" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zur TSG 1899 Hoffenheim ➤ Alle Infos zu Spielen &amp; Mannschaft von 1899 Hoffenheim.[<a href="https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FSV Mainz 05: News, Ergebnisse & Spielplan von Mainz 05</title>
<link>https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FSV Mainz 05 ➤ Alle Infos zu Spielen & Mannschaft von Mainz 05.</description>
<pubDate>Mon, 05 Feb 2024 11:00:21 +0100</pubDate>
<guid>sportschau_5912ad04-2c11-4924-889c-60d949f68fce</guid>
<dc:date>2024-02-05T10:00:21Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/527b1372-c411-4446-b3c1-5ef9ec030bd8/AAABgQLUuzM/AAABjcWen7M/16x9-1280/fsvmainz-sp-100.jpg" alt="1. FSV Mainz 05 | dpa/Torsten Silz" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FSV Mainz 05 ➤ Alle Infos zu Spielen &amp; Mannschaft von Mainz 05.[<a href="https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>FC Augsburg: News, Ergebnisse & Spielplan vom FC Augsburg</title>
<link>https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Augsburg ➤ Alle Infos zu Spielen & Mannschaft vom FC Augsburg.</description>
<pubDate>Mon, 05 Feb 2024 11:01:59 +0100</pubDate>
<guid>sportschau_60116d20-02cb-430c-987b-2b2447e479e4</guid>
<dc:date>2024-02-05T10:01:59Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/8393a300-ec74-4cb6-b623-d20f349c2736/AAABgQLE16s/AAABjcWen7M/16x9-1280/fcaugsburg-sp-102.jpg" alt="FC Augsburg | imago/Philippe Ruiz" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Augsburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom FC Augsburg.[<a href="https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FC Köln: News, Ergebnisse & Spielplan des 1. FC Köln</title>
<link>https://www.sportschau.de/fussball/vereine/fc-koeln-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Köln ➤ Alle Infos zu Spielen & Mannschaft vom 1. FC Köln.</description>
<pubDate>Mon, 05 Feb 2024 11:00:51 +0100</pubDate>
<guid>sportschau_3195d500-25c1-457d-8d67-8a699e326532</guid>
<dc:date>2024-02-05T10:00:51Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-koeln-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/f1774f65-5689-4dae-b8d7-6a31ea2df946/AAABgQLE9Ys/AAABjcWen7M/16x9-1280/fckoeln-sp-102.jpg" alt="1. FC Köln | dpa/Jonas Güttler" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Köln ➤ Alle Infos zu Spielen &amp; Mannschaft vom 1. FC Köln.[<a href="https://www.sportschau.de/fussball/vereine/fc-koeln-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfL Bochum: News, Ergebnisse & Spielplan vom VfL Bochum</title>
<link>https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Bochum ➤ Alle Infos zu Spielen & Mannschaft vom VfL Bochum.</description>
<pubDate>Mon, 05 Feb 2024 11:01:41 +0100</pubDate>
<guid>sportschau_19501f25-23ef-4faf-ab1d-8430c3a4944d</guid>
<dc:date>2024-02-05T10:01:41Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/a52378b1-b265-40e8-a940-cd292a05e820/AAABgQNdywc/AAABjcWen7M/16x9-1280/vflbochum-sp-100.jpg" alt="VfL Bochum | ddp images/Revierfoto" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Bochum ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfL Bochum.[<a href="https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>SV Werder Bremen: News, Ergebnisse & Spielplan von Werder Bremen</title>
<link>https://www.sportschau.de/fussball/vereine/sv-werder-bremen-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Werder Bremen ➤ Alle Infos zu Spielen & Mannschaft von Werder Bremen.</description>
<pubDate>Mon, 05 Feb 2024 11:01:26 +0100</pubDate>
<guid>sportschau_a91fb2de-2e27-4e4f-92fd-1b18dad29c14</guid>
<dc:date>2024-02-05T10:01:26Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/sv-werder-bremen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/19ad8b08-d052-4587-8849-2578bd7c3ac0/AAABgQNqFVQ/AAABjcWen7M/16x9-1280/werderbremen-sp-110.jpg" alt="Werder Bremen | Oliver Hardt/getty images" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Werder Bremen ➤ Alle Infos zu Spielen &amp; Mannschaft von Werder Bremen.[<a href="https://www.sportschau.de/fussball/vereine/sv-werder-bremen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>SV Darmstadt 98: News, Ergebnisse & Spielplan von Darmstadt 98</title>
<link>https://www.sportschau.de/fussball/vereine/sv-darmstadt-98-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Darmstadt 98 ➤ Alle Infos zu Spielen & Mannschaft von Darmstadt 98.</description>
<pubDate>Mon, 05 Feb 2024 11:02:47 +0100</pubDate>
<guid>sportschau_94a4fcc6-3e27-4226-aba5-ec73321cf0cd</guid>
<dc:date>2024-02-05T10:02:47Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/sv-darmstadt-98-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/087b3497-1c0f-439b-9011-94261af7777d/AAABgQM4XXA/AAABjcWen7M/16x9-1280/svdarmstadt-sp-100.jpg" alt="SV Darmstadt 98 | imago/Thomas Frey" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Darmstadt 98 ➤ Alle Infos zu Spielen &amp; Mannschaft von Darmstadt 98.[<a href="https://www.sportschau.de/fussball/vereine/sv-darmstadt-98-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FC Heidenheim: News, Ergebnisse & Spielplan von Heidenheim</title>
<link>https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Heidenheim ➤ Alle Infos zu Spielen & Mannschaft vom 1. FC Heidenheim.</description>
<pubDate>Mon, 05 Feb 2024 11:02:32 +0100</pubDate>
<guid>sportschau_55d6cf63-3ace-420e-9514-8348607c0b57</guid>
<dc:date>2024-02-05T10:02:32Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/7910ffae-9140-4a58-88a2-d7289be44d84/AAABgQLE4N0/AAABjcWen7M/16x9-1280/fcheidenheim-sp-100.jpg" alt="1. FC Heidenheim | WDR/Annegret Hilse" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Heidenheim ➤ Alle Infos zu Spielen &amp; Mannschaft vom 1. FC Heidenheim.[<a href="https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
</channel>
</rss>