@page "/Ligamanager/rssfeed"
<h3>Neue Nachrichten aus der Bundesliga</h3>

<?xml version="1.0" encoding="utf-8"?> 


<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:dc="http://purl.org/dc/elements/1.1/" version="2.0">
<channel>
<title>Bundesliga: Alle Fußball-News, Highlights und Spiele</title>
<link>https://www.sportschau.de/fussball/bundesliga>
<description>Die aktuellen Beiträge der Seite https://www.sportschau.de/fussball/bundesliga</description>
<language>de</language>
<copyright>WDR | sportschau.de</copyright>
<lastBuildDate>Mon, 01 Jul 2024 07:58:48 +0200</lastBuildDate>
<pubDate>Mon, 01 Jul 2024 07:58:48 +0200</pubDate>
<docs>http://blogs.law.harvard.edu/tech/rss</docs>
<ttl>90</ttl>
<dc:publisher>sportschau.de</dc:publisher>
<dc:language>de</dc:language>
<dc:rights>WDR | sportschau.de</dc:rights>
<dc:date>2024-06-27T09:06:03Z</dc:date>
<dc:source>sportschau.de</dc:source>
<item>
<title>Wechselbörse - die Transfers der Bundesliga</title>
<link>https://www.sportschau.de/fussball/bundesliga/wechselboerse-die-transfers-der-bundesliga,wechselboerse-fussball-bundesliga-108.html>
<description>Die Fußball-Bundesliga ist gerade erst vorbei, aber die Saison 2024/25 wirft schon ihre Schatten voraus. Wer kommt, wer geht? Ein Überblick über alle Transfers.</description>
<pubDate>Tue, 21 May 2024 15:50:04 +0200</pubDate>
<guid>5bcbc24e-13a0-40a7-8d0c-0f50086183c9</guid>
<dc:date>2024-05-21T13:50:04Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/wechselboerse-die-transfers-der-bundesliga,wechselboerse-fussball-bundesliga-108.html"><img src="https://images.sportschau.de/image/0cc1a628-7e17-4b1d-8c24-b89593301669/AAABj5XymOw/AAABjwnlFvA/16x9-1280/rb-werder-stuermer-nick-woltemade-bedankt-sich-mit-weit-ausgebreiteten-armen-bei-den-fans-im-weser-stadion-100.jpg" alt="Werder-Stürmer Nick Woltemade bedankt sich mit weit ausgebreiteten Armen bei den Fans im Weser-Stadion. | Gumzmedia | Andreas Gumz" /></a> <br/> <br/>Die Fußball-Bundesliga ist gerade erst vorbei, aber die Saison 2024/25 wirft schon ihre Schatten voraus. Wer kommt, wer geht? Ein Überblick über alle Transfers. [<a href="https://www.sportschau.de/fussball/bundesliga/wechselboerse-die-transfers-der-bundesliga,wechselboerse-fussball-bundesliga-108.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>"Chip im Ball" kommt vorerst nicht in der Bundesliga zum Einsatz</title>
<link>https://www.sportschau.de/fussball/uefa-euro-2024/chip-im-ball-kommt-vorerst-nicht-in-der-bundesliga-zum-einsatz,chip-ball-100.html>
<description>Eine äußerst knappe Abseitsstellung leitete Dänemarks Niederlage gegen Deutschland im Achtelfinale der EM 2024 ein. Nachgewiesen wurde sie auch mit dem "Chip im Ball" - eine Technik, die es in der Bundesliga vorerst nicht geben wird.</description>
<pubDate>Mon, 01 Jul 2024 07:58:48 +0200</pubDate>
<guid>ceb5f5f1-5568-4226-aaf7-d78ccd2eea31</guid>
<dc:date>2024-07-01T05:58:48Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/uefa-euro-2024/chip-im-ball-kommt-vorerst-nicht-in-der-bundesliga-zum-einsatz,chip-ball-100.html"><img src="https://images.sportschau.de/image/06ad3eb7-d4c6-495b-85e8-55ea6c782d6e/AAABkGmH-GY/AAABjwnlFvA/16x9-1280/chip-ball-104.jpg" alt="Der "Chip im Ball" | Adidas" /></a> <br/> <br/>Eine äußerst knappe Abseitsstellung leitete Dänemarks Niederlage gegen Deutschland im Achtelfinale der EM 2024 ein. Nachgewiesen wurde sie auch mit dem "Chip im Ball" - eine Technik, die es in der Bundesliga vorerst nicht geben wird.[<a href="https://www.sportschau.de/fussball/uefa-euro-2024/chip-im-ball-kommt-vorerst-nicht-in-der-bundesliga-zum-einsatz,chip-ball-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Torjäger Kleindienst wechselt nach Mönchengladbach</title>
<link>https://www.sportschau.de/regional/swr/swr-fix-torjaeger-tim-kleindienst-verlaesst-den-1-fc-heidenheim-100.html>
<description>Der 1. FC Heidenheim muss einen Rückschlag bei der Kaderplanung verkraften. Tim Kleindienst wechselt zu Borussia Mönchengladbach.</description>
<pubDate>Fri, 21 Jun 2024 12:10:47 +0200</pubDate>
<guid>sportschau_fm-story-swr-76471cd9-d9b4-3f50-94da-f008588248c3</guid>
<dc:date>2024-06-21T10:10:47Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/regional/swr/swr-fix-torjaeger-tim-kleindienst-verlaesst-den-1-fc-heidenheim-100.html"><img src="https://images.sportschau.de/image/0de7724a-a582-4cc3-a653-1cdaa846a49a/AAABkD_BBAo/AAABjwnlFvA/16x9-1280/swr-tim-kleindienst-vom-1-fc-heidenheim-104.jpg" alt="Tim Kleindienst vom 1. FC Heidenheim | IMAGO, Imago Images / Sportfoto Rudel" /></a> <br/> <br/>Der 1. FC Heidenheim muss einen Rückschlag bei der Kaderplanung verkraften. Tim Kleindienst wechselt zu Borussia Mönchengladbach.[<a href="https://www.sportschau.de/regional/swr/swr-fix-torjaeger-tim-kleindienst-verlaesst-den-1-fc-heidenheim-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Sportschau Live Radio-Reportage: Bundesliga und 2. Bundesliga live und kostenlos - mit der ARD Bundesligakonferenz</title>
<link>https://www.sportschau.de/fussball/bundesliga-und-2-bundesliga-live-bei-der-sportschau,how-to-audio-netcast-100.html>
<description>Alle Spiele aus Bundesliga, 2. Bundesliga, DFB-Pokal und Champions League können Sie bei der Sportschau in kompletter Länge hören. Im Auto geht das jetzt noch einfacher.</description>
<pubDate>Tue, 07 May 2024 13:02:24 +0200</pubDate>
<guid>sportschau_a16dde55-d458-43b4-b68f-9f9da6d40685</guid>
<dc:date>2024-05-07T11:02:24Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga-und-2-bundesliga-live-bei-der-sportschau,how-to-audio-netcast-100.html"><img src="https://images.sportschau.de/image/d13fb074-8cda-4aff-a382-fadba63723f3/AAABiYvJS9Q/AAABjwnlFvA/16x9-1280/buli-audio-netcast-teaser-102.jpg" alt="Bundesliga & 2. Bundesliga - Alle Spiele live hören | picture alliance / Teresa Kroeger/RHR-FOTO, IMAGO/eu-images/Norbert Schmidt" /></a> <br/> <br/>Alle Spiele aus Bundesliga, 2. Bundesliga, DFB-Pokal und Champions League können Sie bei der Sportschau in kompletter Länge hören. Im Auto geht das jetzt noch einfacher.[<a href="https://www.sportschau.de/fussball/bundesliga-und-2-bundesliga-live-bei-der-sportschau,how-to-audio-netcast-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Alle Audiostreams der Fußball-Bundesliga</title>
<link>https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html>
<description>Bundesliga live aus den Stadien: Bei der Sportschau hören Sie jedes Einzelspiel und die ARD Bundesligakonferenz in voller Länge.</description>
<pubDate>Fri, 18 Aug 2023 16:30:26 +0200</pubDate>
<guid>812d2587-cfbc-4a9d-9033-5b2f644d0602</guid>
<dc:date>2023-08-18T14:30:26Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html"><img src="https://images.sportschau.de/image/14367dff-c9b4-4237-8421-6a9c0e01d61e/AAABiqiIE80/AAABjwnlFvA/16x9-1280/buli-audio-netcast-teaser-100.jpg" alt="Bundesliga - Alle Spiele live hören | picture alliance/Guido Kirchner, picture alliance/dpa/Revierfoto, picture alliance/SVEN SIMON" /></a> <br/> <br/>Bundesliga live aus den Stadien: Bei der Sportschau hören Sie jedes Einzelspiel und die ARD Bundesligakonferenz in voller Länge.[<a href="https://www.sportschau.de/fussball/bundesliga/audiostreams-bundesliga-uebersicht-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Nachrichten zu allen Vereinen</title>
<link>https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html>
<description>Aktuelle Informationen zu allen Vereinen.</description>
<pubDate>Tue, 31 May 2022 16:29:11 +0200</pubDate>
<guid>sportschau_3b8b5610-46a0-4894-a48c-c9ce58e1fa9e</guid>
<dc:date>2022-05-31T14:29:11Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html"><img src="https://images.sportschau.de/image/13f1d0de-c684-4f98-a172-2892236d8a15/AAABgQKNTyY/AAABjwnlFvA/16x9-1280/bulilogos-sp-100.jpg" alt="Logos der Bundesliga-Vereine | imago/Geisser" /></a> <br/> <br/>Aktuelle Informationen zu allen Vereinen.[<a href="https://www.sportschau.de/fussball/bundesliga/bundesligavereinsnews-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>FC Bayern München: News, Ergebnisse & Spielplan von Bayern München</title>
<link>https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Bayern München ➤ Alle Infos zu Spielen & Mannschaft von Bayern München.</description>
<pubDate>Mon, 05 Feb 2024 10:58:22 +0100</pubDate>
<guid>sportschau_1823908a-bb90-43c5-87e8-8b8238119be4</guid>
<dc:date>2024-02-05T09:58:22Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/9d894fe0-e5ab-4272-a2af-66bb6f11b813/AAABkDjLywo/AAABjwnlFvA/16x9-1280/bayernmuenchen-sp-104.jpg" alt="FC Bayern München | picture alliance / sampics / Stefan Matzke" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Bayern München ➤ Alle Infos zu Spielen &amp; Mannschaft von Bayern München.[<a href="https://www.sportschau.de/fussball/vereine/fc-bayern-muenchen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>RB Leipzig: News, Ergebnisse & Spielplan von RB Leipzig</title>
<link>https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu RB Leipzig ➤ Alle Infos zu Spielen & Mannschaft von RB Leipzig.</description>
<pubDate>Mon, 05 Feb 2024 10:58:50 +0100</pubDate>
<guid>sportschau_281f5b09-56f4-4040-8138-d691e5adc092</guid>
<dc:date>2024-02-05T09:58:50Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6752c71a-a2d4-454c-a158-a7d21390d0cf/AAABkDjMPq4/AAABjwnlFvA/16x9-1280/rbleipzig-sp-104.jpg" alt="RB Leipzig | Roger Petzsche via www.imago-images.de" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu RB Leipzig ➤ Alle Infos zu Spielen &amp; Mannschaft von RB Leipzig.[<a href="https://www.sportschau.de/fussball/vereine/rb-leipzig-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Borussia Dortmund: News, Ergebnisse & Spielplan des BVB</title>
<link>https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Dortmund ➤ Alle Infos zu Spielen & Mannschaft vom BVB.</description>
<pubDate>Mon, 05 Feb 2024 10:58:36 +0100</pubDate>
<guid>sportschau_04889dfd-c4ea-4a97-8404-3e25ab86b02f</guid>
<dc:date>2024-02-05T09:58:36Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/b36a446f-be75-45eb-a08b-8930a872d4da/AAABkDjMuAI/AAABjwnlFvA/16x9-1280/borussiadortmund-sp-108.jpg" alt="Borussia Dortmund | imago/Picture Point LE" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Dortmund ➤ Alle Infos zu Spielen &amp; Mannschaft vom BVB.[<a href="https://www.sportschau.de/fussball/vereine/borussia-dortmund-bvb-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfL Wolfsburg: News, Ergebnisse & Spielplan vom VfL Wolfsburg</title>
<link>https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Wolfsburg ➤ Alle Infos zu Spielen & Mannschaft vom VfL Wolfsburg.</description>
<pubDate>Mon, 05 Feb 2024 11:00:04 +0100</pubDate>
<guid>sportschau_46e67a3f-9b7f-4b2e-aca3-7c674dfad597</guid>
<dc:date>2024-02-05T10:00:04Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/cf9ca4b0-1ec2-432a-83c7-1febff0d0711/AAABkDjPlLI/AAABjwnlFvA/16x9-1280/vflwolfsburg-sp-100.jpg" alt="VfL Wolfsburg | imago/Sebastian Priebe" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Wolfsburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfL Wolfsburg.[<a href="https://www.sportschau.de/fussball/vereine/vfl-wolfsburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Eintracht Frankfurt: News, Ergebnisse & Spielplan von Eintracht Frankfurt</title>
<link>https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Eintracht Frankfurt ➤ Alle Infos zu Spielen & Mannschaft von Eintracht Frankfurt.</description>
<pubDate>Mon, 05 Feb 2024 10:59:50 +0100</pubDate>
<guid>sportschau_c6307698-8bb0-44a8-9ec7-49c9b2ee08ee</guid>
<dc:date>2024-02-05T09:59:50Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6d39512a-3566-4d0c-9215-cf18d403288f/AAABkDjNJa0/AAABjwnlFvA/16x9-1280/eintrachtfrankfurt-sp-100.jpg" alt="Eintracht Frankfurt | REUTERS/Leon Kuegeler" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Eintracht Frankfurt ➤ Alle Infos zu Spielen &amp; Mannschaft von Eintracht Frankfurt.[<a href="https://www.sportschau.de/fussball/vereine/eintracht-frankfurt-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Bayer Leverkusen: News, Ergebnisse & Spielplan von Bayer Leverkusen</title>
<link>https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen,bayer-04-leverkusen-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Bayer 04 Leverkusen ➤ Alle Infos zu Spielen & Mannschaft von Bayer Leverkusen.</description>
<pubDate>Mon, 22 Apr 2024 08:12:19 +0200</pubDate>
<guid>sportschau_a3463b7d-d72d-4796-a1b7-2b4319d93c81</guid>
<dc:date>2024-04-22T06:12:19Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen,bayer-04-leverkusen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/bf05a7ff-5526-4d05-86b9-7fe811c50a1c/AAABkDjK1hk/AAABjwnlFvA/16x9-1280/bayerleverkusen-sp-102.jpg" alt="Bayer Leverkusen | imago images / Annegret Hilse" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Bayer 04 Leverkusen ➤ Alle Infos zu Spielen &amp; Mannschaft von Bayer Leverkusen.[<a href="https://www.sportschau.de/fussball/vereine/bayer-04-leverkusen,bayer-04-leverkusen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FC Union Berlin: News, Ergebnisse & Spielplan von Union Berlin</title>
<link>https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Union Berlin ➤ Alle Infos zu Spielen & Mannschaft von Union Berlin.</description>
<pubDate>Mon, 05 Feb 2024 10:59:06 +0100</pubDate>
<guid>sportschau_f3842dee-1a3f-4e73-b2b0-5ce18b1d7249</guid>
<dc:date>2024-02-05T09:59:06Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/42f24f66-7413-42bd-af8d-eb3742753afb/AAABkDjRbqM/AAABjwnlFvA/16x9-1280/unionberlin-sp-100.jpg" alt="Union Berlin | dpa/Soeren Stache" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Union Berlin ➤ Alle Infos zu Spielen &amp; Mannschaft von Union Berlin.[<a href="https://www.sportschau.de/fussball/vereine/fc-union-berlin-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Borussia Mönchengladbach: News, Ergebnisse & Spielplan von Mönchengladbach</title>
<link>https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Mönchengladbach ➤ Alle Infos zu Spielen & Mannschaft von Borussia Mönchengladbach.</description>
<pubDate>Mon, 05 Feb 2024 11:00:37 +0100</pubDate>
<guid>sportschau_930a7cfc-8e49-4a93-84ef-e4ad64dd2299</guid>
<dc:date>2024-02-05T10:00:37Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/4112112e-f05a-448d-bbb3-8ad288df2da9/AAABkDjQ-Nc/AAABjwnlFvA/16x9-1280/borussiamoenchengladbach-sp-100.jpg" alt="Borussia Mönchengladbach | imago images/Werner Otto" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Borussia Mönchengladbach ➤ Alle Infos zu Spielen &amp; Mannschaft von Borussia Mönchengladbach.[<a href="https://www.sportschau.de/fussball/vereine/borussia-moenchengladbach-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfB Stuttgart: News, Ergebnisse & Spielplan vom VfB Stuttgart</title>
<link>https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfB Stuttgart ➤ Alle Infos zu Spielen & Mannschaft vom VfB Stuttgart.</description>
<pubDate>Mon, 05 Feb 2024 11:02:17 +0100</pubDate>
<guid>sportschau_06c71b59-9c86-4d92-9ee1-94d320650be5</guid>
<dc:date>2024-02-05T10:02:17Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/120a0c1e-0e64-4cf6-8548-15cd4b945f60/AAABkDjLVjU/AAABjwnlFvA/16x9-1280/vfbstuttgart-sp-100.jpg" alt="VfB Stuttgart | imago/Michael Weber" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfB Stuttgart ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfB Stuttgart.[<a href="https://www.sportschau.de/fussball/vereine/vfb-stuttgart-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>SC Freiburg: News, Ergebnisse & Spielplan des SC Freiburg</title>
<link>https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum SC Freiburg ➤ Alle Infos zu Spielen & Mannschaft vom SC Freiburg.</description>
<pubDate>Mon, 05 Feb 2024 10:59:20 +0100</pubDate>
<guid>sportschau_39a35e0e-ddd4-4a29-949b-f8e24c1b092a</guid>
<dc:date>2024-02-05T09:59:20Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/95a7f74f-20ca-4870-a9f2-ce2ec4ae446f/AAABkDjOzX0/AAABjwnlFvA/16x9-1280/scfreiburg-sp-104.jpg" alt="SC Freiburg | WDR/Patrick Seeger" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum SC Freiburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom SC Freiburg.[<a href="https://www.sportschau.de/fussball/vereine/sc-freiburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>TSG 1899 Hoffenheim: News, Ergebnisse & Spielplan von 1899 Hoffenheim</title>
<link>https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zur TSG 1899 Hoffenheim ➤ Alle Infos zu Spielen & Mannschaft von 1899 Hoffenheim.</description>
<pubDate>Mon, 05 Feb 2024 11:01:08 +0100</pubDate>
<guid>sportschau_0e61bcc1-b7b8-447e-a391-a1373a56385e</guid>
<dc:date>2024-02-05T10:01:08Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/6191c14e-07f4-4ec8-b35e-e565acd4f349/AAABkDjNjCI/AAABjwnlFvA/16x9-1280/tsghoffenheim-sp-100.jpg" alt="TSG Hoffenheim | imago sportfotodienst" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zur TSG 1899 Hoffenheim ➤ Alle Infos zu Spielen &amp; Mannschaft von 1899 Hoffenheim.[<a href="https://www.sportschau.de/fussball/vereine/tsg-1899-hoffenheim-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FSV Mainz 05: News, Ergebnisse & Spielplan von Mainz 05</title>
<link>https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FSV Mainz 05 ➤ Alle Infos zu Spielen & Mannschaft von Mainz 05.</description>
<pubDate>Mon, 05 Feb 2024 11:00:21 +0100</pubDate>
<guid>sportschau_5912ad04-2c11-4924-889c-60d949f68fce</guid>
<dc:date>2024-02-05T10:00:21Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/527b1372-c411-4446-b3c1-5ef9ec030bd8/AAABkDjQBd0/AAABjwnlFvA/16x9-1280/fsvmainz-sp-100.jpg" alt="1. FSV Mainz 05 | dpa/Torsten Silz" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FSV Mainz 05 ➤ Alle Infos zu Spielen &amp; Mannschaft von Mainz 05.[<a href="https://www.sportschau.de/fussball/vereine/fsv-mainz-05-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>FC Augsburg: News, Ergebnisse & Spielplan vom FC Augsburg</title>
<link>https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Augsburg ➤ Alle Infos zu Spielen & Mannschaft vom FC Augsburg.</description>
<pubDate>Mon, 05 Feb 2024 11:01:59 +0100</pubDate>
<guid>sportschau_60116d20-02cb-430c-987b-2b2447e479e4</guid>
<dc:date>2024-02-05T10:01:59Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/8393a300-ec74-4cb6-b623-d20f349c2736/AAABkDjPMMU/AAABjwnlFvA/16x9-1280/fcaugsburg-sp-102.jpg" alt="FC Augsburg | imago/Philippe Ruiz" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC Augsburg ➤ Alle Infos zu Spielen &amp; Mannschaft vom FC Augsburg.[<a href="https://www.sportschau.de/fussball/vereine/fc-augsburg-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>VfL Bochum: News, Ergebnisse & Spielplan vom VfL Bochum</title>
<link>https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Bochum ➤ Alle Infos zu Spielen & Mannschaft vom VfL Bochum.</description>
<pubDate>Mon, 05 Feb 2024 11:01:41 +0100</pubDate>
<guid>sportschau_19501f25-23ef-4faf-ab1d-8430c3a4944d</guid>
<dc:date>2024-02-05T10:01:41Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/a52378b1-b265-40e8-a940-cd292a05e820/AAABkDjR0NI/AAABjwnlFvA/16x9-1280/vflbochum-sp-100.jpg" alt="VfL Bochum | ddp images/Revierfoto" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum VfL Bochum ➤ Alle Infos zu Spielen &amp; Mannschaft vom VfL Bochum.[<a href="https://www.sportschau.de/fussball/vereine/vfl-bochum-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>SV Werder Bremen: News, Ergebnisse & Spielplan von Werder Bremen</title>
<link>https://www.sportschau.de/fussball/vereine/werder-bremen,sv-werder-bremen-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Werder Bremen ➤ Alle Infos zu Spielen & Mannschaft von Werder Bremen.</description>
<pubDate>Mon, 01 Jul 2024 00:00:10 +0200</pubDate>
<guid>sportschau_a91fb2de-2e27-4e4f-92fd-1b18dad29c14</guid>
<dc:date>2024-06-30T22:00:10Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/werder-bremen,sv-werder-bremen-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/19ad8b08-d052-4587-8849-2578bd7c3ac0/AAABkDjOccA/AAABjwnlFvA/16x9-1280/werderbremen-sp-110.jpg" alt="Werder Bremen | Oliver Hardt/getty images" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum SV Werder Bremen ➤ Alle Infos zu Spielen &amp; Mannschaft von Werder Bremen.[<a href="https://www.sportschau.de/fussball/vereine/werder-bremen,sv-werder-bremen-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>1. FC Heidenheim: News, Ergebnisse & Spielplan von Heidenheim</title>
<link>https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Heidenheim ➤ Alle Infos zu Spielen & Mannschaft vom 1. FC Heidenheim.</description>
<pubDate>Mon, 05 Feb 2024 11:02:32 +0100</pubDate>
<guid>sportschau_55d6cf63-3ace-420e-9514-8348607c0b57</guid>
<dc:date>2024-02-05T10:02:32Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/7910ffae-9140-4a58-88a2-d7289be44d84/AAABkDjN7-0/AAABjwnlFvA/16x9-1280/fcheidenheim-sp-100.jpg" alt="1. FC Heidenheim | WDR/Annegret Hilse" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum 1. FC Heidenheim ➤ Alle Infos zu Spielen &amp; Mannschaft vom 1. FC Heidenheim.[<a href="https://www.sportschau.de/fussball/vereine/fc-heidenheim-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>FC St. Pauli: News, Ergebnisse & Spielplan vom FC St. Pauli</title>
<link>https://www.sportschau.de/fussball/vereine/fc-st-pauli,fc-st-stpauli-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC St. Pauli ➤ Alle Infos zu Spielen & Mannschaft von St. Pauli.</description>
<pubDate>Mon, 01 Jul 2024 00:00:08 +0200</pubDate>
<guid>sportschau_c9c8be12-45f6-4c2d-a48b-de125d74cbfb</guid>
<dc:date>2024-06-30T22:00:08Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/fc-st-pauli,fc-st-stpauli-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/65d8378e-a3f6-4c2b-9342-46f8ceba61aa/AAABkDjSKus/AAABjwnlFvA/16x9-1280/fcstpauli-sp-102.jpg" alt="FC St. Pauli | imago/Frank Scheuring" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zum FC St. Pauli ➤ Alle Infos zu Spielen &amp; Mannschaft von St. Pauli.[<a href="https://www.sportschau.de/fussball/vereine/fc-st-pauli,fc-st-stpauli-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
<item>
<title>Holstein Kiel: News, Ergebnisse & Spielplan von Holstein Kiel</title>
<link>https://www.sportschau.de/fussball/vereine/holstein-kiel,holstein-kiel-ksv-klub-index-sp-100.html>
<description>Aktuelle Neuigkeiten, der Kader und Statistiken zu Holstein Kiel ➤ Alle Infos zu Spielen & Mannschaft von Holstein Kiel.</description>
<pubDate>Mon, 01 Jul 2024 00:00:08 +0200</pubDate>
<guid>sportschau_3905f8b9-8945-42a4-b8a9-3f1ec39a3b21</guid>
<dc:date>2024-06-30T22:00:08Z</dc:date>
<content:encoded>
<![CDATA[ <p> <a href="https://www.sportschau.de/fussball/vereine/holstein-kiel,holstein-kiel-ksv-klub-index-sp-100.html"><img src="https://images.sportschau.de/image/28e46fbd-ee7f-4a60-b879-a7295e98bd28/AAABkDjSh4M/AAABjwnlFvA/16x9-1280/holsteinkiel-sp-104.jpg" alt="Holstein Kiel | Getty Images/Martin Rose" /></a> <br/> <br/>Aktuelle Neuigkeiten, der Kader und Statistiken zu Holstein Kiel ➤ Alle Infos zu Spielen &amp; Mannschaft von Holstein Kiel.[<a href="https://www.sportschau.de/fussball/vereine/holstein-kiel,holstein-kiel-ksv-klub-index-sp-100.html">mehr</a>]</p> ]]>
</content:encoded>
</item>
</channel>
</rss>