@page "/saisonen"
@using LigaManagerManagement.Web.Pages;
@inherits SaisonenListBase

@attribute [Authorize]

<script>
    function scrollToTop() {
        window.scrollTo(0, 0);
    }
</script>

<style type="text/css">

    .TableElement {
        border: 0px solid #fff;
        background-color: transparent;
    }

    .table td, .table th {
        padding: 0.04rem !important;
        vertical-align: top;
        border-top: 0px solid #dee2e6;
    }

    h4 {
        display: flex;
        flex-direction: row;
        width: 96%;
        height: 0.5px;
    }

        h4:after {
            content: "";
            flex: 1 1;
            border-bottom: 1px solid #000;
            padding: 0px;
            margin: -5.5px;
        }

    table {
        border-collapse: collapse;
    }

        table.sectioned tbody {
            border: 1px solid darkgray;
            border-collapse: separate;
            border-spacing: 4px;
        }
</style>

@if (SaisonenList == null)
{
    <div class="spinner"></div>
}
else
{
    <div class="row mt-4">
        <div class="col-2">
            <h2>Saisonen</h2>
        </div>
        <div class="col-3">
            <a href="createsaison" style="width:auto;" class="btn btn-primary form-control">Neu</a>
        </div>
        <div class="col-12 p-3">
            @if (SaisonenList.Any())
            {
                <table class="table table-striped">
                   
                    <thead class="bg-blue">
                        <tr>
                            <th scope="col">Saison</th>
                            <th scope="col">Liga</th>
                        </tr>
                    </thead>                   

                </table>
                @foreach (var saison in SaisonenList)
                {
                    <EditForm Model="@Saisonen">
                        <div class="table-responsive" style="max-width:90%;">
                            <table class="table table-striped">

                                <tbody style="border-width:1px;">
                                    <tr>
                                        <td><InputText readonly id="txtVerein1" class="TableElement priority-1" style="max-height:32px; max-width:80px;pointer-events:none;" tabindex="1" @bind-Value=saison.Saisonname /></td>
                                        <td><InputText readonly id="txtVerein2" class="TableElement priority-1" style="max-height:32px; max-width:100%;pointer-events:none;" tabindex="2" @bind-Value=saison.Liganame /></td>
                                        <td> <NavLink href="@($"editsaison/{saison.SaisonID}")" class="btn-primary btn">Bearbeiten</NavLink></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </EditForm>
                }
            }
            else
            {
                <p>keine Datensätze gefunden.</p>
            }
        </div>
    </div>
    <div class="col-1 offset-11">
        <button onclick="javascript:scrollToTop" class="btn btn-primary">Nach Oben</button>
    </div>
}