@page "/"
@inherits LigaManagerManagement.Web.Pages.EinstiegListBase
@attribute [Authorize]

<h3>Start Ligamanager</h3>

<div class="container">
    <div class="row">
        <div class="col-sm">
            Liga wählen
        </div>
        <div class="col-sm">
            Saison wählen
            <select id="cboSpieltage2" style="margin-left:5px;" class="form-control dropdown" @onchange="SaisonChange">

                @foreach (var saison in SaisonenList)
                {
                    <option value="@saison.SaisonID"> @saison.Saisonname </option>
                }
            </select>
            <br />
        </div>        
    </div>
</div>```

