

@if (IsValid())
{
    @ChildContent
}
else
{
    @ErrorContent
}

@code {

    [Parameter]
    public Func<bool> IsValid { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]  
    public RenderFragment ErrorContent { get; set; } =  @<div style="width:100%; height:20rem"><h1>error with chart</h1></div>;
    
}
