@page
@model LogoutModel
@{
    ViewData["Title"] = "Ausloggen";
}

<style>
    body {
        background: linear-gradient(180deg, #1151f3 0%, #6495ED 70%) !important;
        color: white;
    }
</style>

<header>
    <h1 style="color:white;">@ViewData["Title"]</h1>
    <p>Sie haben sich erfolgreich aus dem LIGAMANAGER ausgeloggt.</p>

</header>

<script>
    (() => {
        document.getElementById('logoutForm').submit();
    })()
</script>