<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Ligamanager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <AuthorizeView>
            <Authorized >
                <li class="nav-item px-3">
                    <NavLink class="nav-link" style="display:none;" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/spieltage" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Spieltage
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/tabellen" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Tabellen
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/vereine" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Vereine
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editspieltag" @onclick="HandleClick" Match="NavLinkMatch.All">
                        <span class="oi oi-file" aria-hidden="true"></span> Neuer Spieltag
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/editspieltag/1" Match="NavLinkMatch.All">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Bearbeiten Spieltag
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/logout" Match="NavLinkMatch.All">
                        <span class="oi oi-power-standby" aria-hidden="true"></span> 
                        Logout @context.User.Identity.Name
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Test" Match="NavLinkMatch.All">
                        <span class="oi oi-arrow-circle-left" aria-hidden="true"></span> Test Binding
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/identity/account/login" Match="NavLinkMatch.All">
                        <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
                    </NavLink>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    @inject NavigationManager NavigationManager;

    private void HandleClick()
    {
        NavigationManager.NavigateTo("editemployee", true);
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
