@page "/"
@inherits LigaManagerManagement.Web.Pages.EinstiegListBase

@attribute [Authorize]



<div class="container">
    <h3>Start Ligamanager</h3>
    <div class="row">
        <div class="col-sm mt-2">            
            <select id="cboLiga" style="margin-left:5px;" class="form-control dropdown" @onchange="LigaChange">
                <option value="" selected required>Liga wählen</option>
                <option value="Bundesliga"> Bundesliga</option>
                <option value="2. Bundesliga"> 2. Bundesliga</option>
                <option value="3. Liga"> 3. Liga</option>
            </select>
        </div>
        <div class="col-sm mt-2">           
            <select id="cboSaison" style="margin-left:5px;" class="form-control dropdown" @onchange="SaisonChange">
                <option value="" selected required >Saison wählen</option>
                @foreach (var saison in SaisonenList.OrderByDescending(o => o.Saisonname))
                {
                    <option value="@saison.Saisonname"> @saison.Saisonname </option>
                }
            </select>            
        </div>
        <div class="col-sm mt-2">            
            <linkbutton title="Werte übernehmen" style="margin-left:5px;" id="btnUebernehmen" class="btn btn-primary" @onclick=OnClickHandler>
                Werte übernehmen
            </linkbutton>            
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm">
            <linkbutton id="btnImport" style="margin-left:5px;"  class="btn btn-primary" @onclick=OnClickHandlerImport>
                Import CSV
            </linkbutton>
        </div>
    </div>
</div>


